Create neighborhood dataframe from Excel – neighborhood, lat, long

In [1]:
# Import pandas library using an alias
import pandas as pd
# library to handle data in a vectorized manner
import numpy as np

# library to handle JSON files
import json
# library to handle requests
import requests
# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize

# import geocoder
import geocoder
# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# map rendering library
import folium

In [2]:
df_chi_data = pd.read_excel('CCASF12010CMAP.xlsx')
df_chi_data.head()

  GEOGKEYX        GEOGNAME   LATITUDE  UNSIGNED LONGITUDE  LONGITUDE
0  GeogKey            Geog        NaN                 NaN        NaN
1        1     Rogers Park  42.016667           87.666667 -87.666667
2        2      West Ridge  42.000000           87.683333 -87.683333
3        3          Uptown  41.966667           87.666667 -87.666667
4        4  Lincoln Square  41.966667           87.683333 -87.683333

In [3]:
df_chi_data.drop([0], axis = 0, inplace=True)
df_chi_data.drop(['UNSIGNED LONGITUDE'], axis=1, inplace=True)
df_chi_data.drop(['GEOGKEYX'], axis=1, inplace=True)
df_chi_data.head()

         GEOGNAME   LATITUDE  LONGITUDE
1     Rogers Park  42.016667 -87.666667
2      West Ridge  42.000000 -87.683333
3          Uptown  41.966667 -87.666667
4  Lincoln Square  41.966667 -87.683333
5    North Center  41.950000 -87.683333

Create empty venue df – neighborhood, venue name, venue id, venue lat, venue long, distance from neighborhood center, category, price

In [4]:
df_venues = pd.DataFrame(columns=['Neighborhood','VenueName','VenueID','Latitude','Longitude','Distance','Category','Price'])
df_venues

Empty DataFrame
Columns: [Neighborhood, VenueName, VenueID, Latitude, Longitude, Distance, Category, Price]
Index: []

Loop through neighborhoods

search for venues by long/lat
use json to populate venue df

In [5]:
# define Foursquare variables
CLIENT_ID = 'CT3K4Z2AEBTWGOKQLQKZ135JJ3B44KOQTB4BMEJ4R0AXXWSD' # your Foursquare ID
CLIENT_SECRET = 'TSJKVMWFPKG2ZV4NYZQDVIR5FIYOSRICDTHHKHWSMV5JHDMZ' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [6]:
# create a function to repeat the same process to all the neighborhoods
def getNearbyVenues(names, latitudes, longitudes, radius, LIMIT, CATEGORY, INTENT):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&categoryId={}&radius={}&limit={}&intent={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            lat, 
            lng,
            VERSION,
            CATEGORY, 
            radius, 
            LIMIT, 
            INTENT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['venues']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            v['name'], 
            v['id'], 
            v['location']['lat'], 
            v['location']['lng'],  
            v['location']['distance'],  
            v['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Venue', 
                  'Venue ID', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Distance',
                  'Venue Category']
    
    return(nearby_venues)

In [8]:
chi_venues = getNearbyVenues(names=df_chi_data['GEOGNAME'],
                                   latitudes=df_chi_data['LATITUDE'],
                                   longitudes=df_chi_data['LONGITUDE'],
                                   radius=500,
                                   LIMIT=100, 
                                   CATEGORY = '4d4b7105d754a06374d81259',
                                   INTENT = 'browse'
                                  )
chi_venues.head()

Rogers Park
West Ridge
Uptown
Lincoln Square
North Center
Lake View
Lincoln Park
Near North Side
Edison Park
Norwood Park
Jefferson Park
Forest Glen
North Park
Albany Park
Portage Park
Irving Park
Dunning
Montclare
Belmont Cragin
Hermosa
Avondale
Logan Square
Humboldt Park
West Town
Austin
West Garfield Park
East Garfield Park
Near West Side
North Lawndale
South Lawndale
Lower West Side
The Loop
Near South Side
Armour Square
Douglas
Oakland
Fuller Park
Grand Boulevard
Kenwood
Washington Park
Hyde Park
Woodlawn
South Shore
Chatham
Avalon Park
South Chicago
Burnside
Calumet Heights
Roseland
Pullman
South Deering
East Side
West Pullman
Riverdale
Hegewisch
Garfield Ridge
Archer Heights
Brighton Park
McKinley Park
Bridgeport
New City
West Elsdon
Gage Park
Clearing
West Lawn
Chicago Lawn
West Englewood
Englewood
Greater Grand Crossing
Ashburn
Auburn Gresham
Beverly
Washington Heights
Mount Greenwood
Morgan Park
O'Hare
Edgewater

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery
2,Rogers Park,Tjam Kitchen,5a2071ca47f876422319a3b6,42.019310,-87.666920,294,Restaurant
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery

Remove duplicates from venue df based on distance from neighborhood center (maybe sort by distance then keep first)

In [9]:
chi_venues.duplicated('Venue ID')
chi_venues_duplicates = chi_venues[chi_venues.duplicated(['Venue ID'])]
 
print("Duplicate venues are:", chi_venues_duplicates, sep='\n')

Duplicate venues are:
            Neighborhood                                          Venue  \
313           North Park                                      Starbucks
314           North Park                                   Coffee Joint
315           North Park                                  Laschet's Inn
316           North Park                         Potbelly Sandwich Shop
317           North Park                                      Mod Pizza
318           North Park                   Reclaimed Bar and Restaurant
319           North Park                               Borinquen Lounge
320           North Park                                   Pete's Pizza
625   East Garfield Park                               Al's Under the L
626   East Garfield Park                           Lake's Best Pizzaria
627   East Garfield Park                                   Vegies Pizza
628   East Garfield Park                            Supper Club Chicago
629   East Garfield Park                               All Time Bar B Q
630   East Garfield Park                                      C & D BBQ
631   East Garfield Park                            Haute Diggity Dawgs
632   East Garfield Park                                 Sunny's Lounge
633   East Garfield Park                        Freedom Coffee Roasters
634   East Garfield Park                              Ja's Jerk Chicken
635   East Garfield Park                                       HOESmead
636   East Garfield Park                        Green Line Fish Chicken
637   East Garfield Park                                Kettle One Club
638   East Garfield Park                            American Restaurant
639   East Garfield Park  corner bakery, wabash and monroe, chicago, il
838              Douglas       Woven & Bound - Marriott Marquis Chicago
839              Douglas                                     McDonald's
840              Douglas                                     McDonald's
841              Douglas                                     Third Star
842              Douglas                             Ryba's Fudge Shops
843              Douglas                                 Connie's Pizza
844              Douglas                                 Sixes & Eights
...                  ...                                            ...
851              Douglas            Natalie's Orchid Island Juice @ Nra
852              Douglas                                 The Plate Room
853              Douglas            All American Grill Mc Cormick Place
854              Douglas                                    Jamba Juice
855              Douglas                                 La Brea Bakery
856              Douglas                       Mercy Hospital Cafeteria
857              Douglas                             Daily Grind Market
858              Douglas                                 The Fine Print
859              Douglas                         Metropolis Coffee cart
860              Douglas                  The Market At McCormick Place
861              Douglas                        Tall Grass Beef Company
862              Douglas                                         SHARKS
863              Douglas                                     fomo grill
864              Douglas                              Resident's Lounge
865              Douglas                                        Dunkin'
866              Douglas                                 Dublin Dounuts
867              Douglas                            Hyatt Employee Cafe
868              Douglas                                  Overlook Cafe
869              Douglas                Butchs Lemonade McCormick Place
890              Kenwood                                Norman's Bistro
891              Kenwood                            Black Rose Pastries
892              Kenwood           Some Like It Black Creative Arts Bar
893              Kenwood                                     food truck
894              Kenwood                                    Mel's Diner
895              Kenwood                                        Dunkin'
896              Kenwood                      Popeyes Louisiana Kitchen
1018            Burnside                                   Corner Store
1022             Pullman                        Sharks Fish And Chicken
1023             Pullman                               The Ramova Grill
1024             Pullman                             Mama Jones Burgers

                      Venue ID  Venue Latitude  Venue Longitude  Distance  \
313   54273f56498e550c0584a8bb       41.947936       -87.688509       486
314   59af0feb58002c0bd652ea47       41.954073       -87.681114       489
315   40b28c80f964a520a5fc1ee3       41.954091       -87.681978       469
316   542eed7c498e15b89f63ad00       41.948428       -87.688678       475
317   598df567345cbe0d6082c90b       41.948088       -87.687989       440
318   5841baec26a4073fb5f89e49       41.948506       -87.688268       441
319   4b550755f964a52073d827e3       41.950699       -87.688327       420
320   4502e8ddf964a520d3381fe3       41.949827       -87.688328       413
625   4e7e2200be7bddefa4420ab0       41.884284       -87.699251       122
626   53854bc5498ebeec0443430e       41.883140       -87.695458       377
627   4f32ad3519836c91c7eeeb86       41.883697       -87.696354       304
628   4c9e937154c8a1cd1b4e8f4b       41.879990       -87.701508       392
629   4f44ea3619836ed001976f1f       41.881041       -87.699570       257
630   574dcd8e498eeac0db3bd269       41.882973       -87.705690       473
631   5a8dc64c5d891b280b22f689       41.879371       -87.702473       486
632   4f322cc019836c91c7bd863e       41.881024       -87.701433       283
633   4f44fa8519836ed00197e1df       41.887597       -87.699988       474
634   4f32849d19836c91c7df997c       41.884309       -87.696617       300
635   4f2a5e8ae4b00df25c994a61       41.884214       -87.697594       222
636   4f32828719836c91c7decc39       41.883631       -87.696340       305
637   51329981e4b041d1d357831c       41.881342       -87.701358       248
638   4f4496ee19836ed001951a96       41.880909       -87.701421       294
639   5086dc0ae4b0f0026eaa6fa2       41.881358       -87.694866       478
838   59b5338d28122f42d21e8656       41.853310       -87.620071       464
839   4bc8a2c314d79521e77c69e9       41.852015       -87.616047       230
840   4b9160d4f964a52098b733e3       41.847088       -87.616752       324
841   5a5c0f8cff1902590d80cca1       41.851690       -87.617590       203
842   4e1361a6e4cdef074b849f0a       41.854330       -87.615487       491
843   4e4fe03db61cf637a4fb006a       41.852444       -87.615867       280
844   5936fd6dd8fe7a24a2ea7414       41.851534       -87.617951       201
...                        ...             ...              ...       ...
851   5ce032f59de23b002c8cf296       41.849792       -87.617190        49
852   511acc8ce4b047cff58d84cb       41.851008       -87.617358       126
853   50689045e4b0f646461c5ae4       41.851723       -87.621780       465
854   4fbbdc70e4b0c28e72eccf07       41.851306       -87.615728       164
855   506c3ac4e4b037d925e134c7       41.851806       -87.614143       290
856   5291291311d22ebd5ad88188       41.848093       -87.620612       389
857   4c0276e0187ec9289d33b47b       41.851471       -87.618241       209
858   4f36bedae4b00d9f95a7646b       41.849400       -87.615189       139
859   573760aa498ef5d24179d8de       41.851102       -87.619161       240
860   594ea4b37918711301d0be1d       41.850784       -87.621605       418
861   4f325b0d19836c91c7cfaa51       41.852989       -87.619011       385
862   4dacf76943a17e90f8ec5a80       41.851138       -87.618963       228
863   4fdcd95ce4b0f8bdf410c714       41.851201       -87.618963       232
864   50b37bf2e4b06cad414716c6       41.852475       -87.613501       380
865   5c90babe16fa04002cca044d       41.851233       -87.617034       140
866   4ee0c6cc0aafbb3dbaf86612       41.847852       -87.614586       294
867   500c780de4b052b69fcb263f       41.850296       -87.620102       286
868   4c3c9cd4933b0f47fa4ce421       41.850991       -87.621782       438
869   4d8b653e6ce6a35dd48d7442       41.853144       -87.616264       351
890   4caf82eceb65b1f78c4d64cd       41.816795       -87.601809       150
891   53a84caa498ec4faa093c335       41.818516       -87.605239       480
892   576f3ca6498ef2e961ba68e4       41.818432       -87.605251       477
893   50730d45e4b0d53d22548d09       41.818424       -87.605357       485
894   58c56d74297c1621cbc72d93       41.818465       -87.605324       484
895   5319dffe498e875dafbd2cdb       41.817121       -87.600498        65
896   4c8018ad51ada1cd869e0610       41.817599       -87.599083       128
1018  4f0f4eb3e4b0e190ad5cbd93       41.736908       -87.602821       461
1022  4d93b1424f78f04d1770e8b9       41.712693       -87.615810       448
1023  4f806c2de4b0cd6f61a7eb69       41.714161       -87.611827       489
1024  4f32350019836c91c7c0b644       41.715730       -87.620470       332

                 Venue Category
313                 Coffee Shop
314                 Coffee Shop
315           German Restaurant
316              Sandwich Place
317                 Pizza Place
318                         Bar
319   Latin American Restaurant
320                 Pizza Place
625                Burger Joint
626                 Pizza Place
627                 Pizza Place
628         American Restaurant
629                        Food
630                   BBQ Joint
631               Hot Dog Joint
632                        Food
633                 Coffee Shop
634                        Food
635                      Bakery
636                        Food
637         American Restaurant
638                        Food
639                      Bakery
838         American Restaurant
839        Fast Food Restaurant
840        Fast Food Restaurant
841                  Restaurant
842                Dessert Shop
843                 Pizza Place
844            Asian Restaurant
...                         ...
851                   Juice Bar
852         American Restaurant
853         American Restaurant
854                   Juice Bar
855                        Café
856                   Cafeteria
857                 Coffee Shop
858         American Restaurant
859                 Coffee Shop
860                  Food Court
861                        Food
862         Fried Chicken Joint
863                  Food Court
864                   Cafeteria
865                        Café
866                 Coffee Shop
867                        Café
868         American Restaurant
869                 Snack Place
890                  Restaurant
891                      Bakery
892                   Juice Bar
893                  Food Truck
894                       Diner
895                  Donut Shop
896         Fried Chicken Joint
1018                  BBQ Joint
1022        Fried Chicken Joint
1023               Burger Joint
1024                       Food

[66 rows x 7 columns]

Sort venue list by venue ID and distance from neighborhood center

In [11]:
chi_venues.sort_values(by=['Venue ID', 'Distance'], inplace=True)
chi_venues.head()

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
746,The Loop,Atwood,3fd66200f964a520c7f01ee3,41.883205,-87.628191,426,New American Restaurant
234,Lincoln Park,Sai Cafe,3fd66200f964a520e1ed1ee3,41.918481,-87.653361,343,Sushi Restaurant
718,The Loop,Monk's Pub,40b28c80f964a52045fb1ee3,41.885640,-87.634339,269,Pub
130,Lincoln Square,Daily Bar & Grill,40b28c80f964a5205ffd1ee3,41.964823,-87.686073,305,Bar
168,North Center,Laschet's Inn,40b28c80f964a520a5fc1ee3,41.954091,-87.681978,469,German Restaurant

In [13]:
chi_venues[chi_venues['Venue ID'] == '4f32849d19836c91c7df997c']

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
558,Humboldt Park,Ja's Jerk Chicken,4f32849d19836c91c7df997c,41.884309,-87.696617,300,Food
634,East Garfield Park,Ja's Jerk Chicken,4f32849d19836c91c7df997c,41.884309,-87.696617,300,Food

In [14]:
chi_venues.drop_duplicates(subset="Venue ID", keep='first', inplace=True)
chi_venues[chi_venues['Venue ID'] == '4f32849d19836c91c7df997c']

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
558,Humboldt Park,Ja's Jerk Chicken,4f32849d19836c91c7df997c,41.884309,-87.696617,300,Food

In [15]:
print(chi_venues.shape)

(1272, 7)

In [16]:
# how many venues for each neighborhood
chi_venues.groupby('Neighborhood').count()

,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
Neighborhood,,,,,,
Albany Park,50,50,50,50,50,50
Archer Heights,6,6,6,6,6,6
Armour Square,50,50,50,50,50,50
Ashburn,11,11,11,11,11,11
Auburn Gresham,16,16,16,16,16,16
Austin,16,16,16,16,16,16
Avalon Park,24,24,24,24,24,24
Avondale,17,17,17,17,17,17
Belmont Cragin,39,39,39,39,39,39
Beverly,34,34,34,34,34,34
Bridgeport,24,24,24,24,24,24
Brighton Park,37,37,37,37,37,37
Chatham,1,1,1,1,1,1
Chicago Lawn,21,21,21,21,21,21
Clearing,4,4,4,4,4,4
Dunning,17,17,17,17,17,17
East Side,1,1,1,1,1,1
Edgewater,32,32,32,32,32,32
Edison Park,2,2,2,2,2,2
Englewood,5,5,5,5,5,5
Fuller Park,6,6,6,6,6,6
Gage Park,13,13,13,13,13,13
Grand Boulevard,7,7,7,7,7,7
Greater Grand Crossing,16,16,16,16,16,16
Hermosa,23,23,23,23,23,23
Humboldt Park,15,15,15,15,15,15
Hyde Park,25,25,25,25,25,25
Irving Park,23,23,23,23,23,23
Jefferson Park,9,9,9,9,9,9
Lake View,30,30,30,30,30,30
...,...,...,...,...,...,...
Morgan Park,4,4,4,4,4,4
Mount Greenwood,5,5,5,5,5,5
Near North Side,50,50,50,50,50,50
Near South Side,32,32,32,32,32,32
Near West Side,19,19,19,19,19,19
New City,20,20,20,20,20,20
North Center,8,8,8,8,8,8
North Lawndale,10,10,10,10,10,10
Norwood Park,7,7,7,7,7,7
O'Hare,1,1,1,1,1,1
Oakland,7,7,7,7,7,7
Portage Park,25,25,25,25,25,25
Riverdale,1,1,1,1,1,1
Rogers Park,27,27,27,27,27,27
Roseland,3,3,3,3,3,3
South Chicago,37,37,37,37,37,37
South Lawndale,14,14,14,14,14,14
South Shore,14,14,14,14,14,14
The Loop,50,50,50,50,50,50
Uptown,47,47,47,47,47,47
Washington Heights,3,3,3,3,3,3
Washington Park,7,7,7,7,7,7
West Elsdon,5,5,5,5,5,5
West Englewood,17,17,17,17,17,17
West Garfield Park,14,14,14,14,14,14
West Lawn,13,13,13,13,13,13
West Pullman,2,2,2,2,2,2
West Ridge,46,46,46,46,46,46
West Town,31,31,31,31,31,31
Woodlawn,13,13,13,13,13,13

In [17]:
# how many unique categories
print('There are {} uniques categories.'.format(len(chi_venues['Venue Category'].unique())))

There are 106 uniques categories.

Use one-hot encoding on categories and load into new df (copy venue df first – 1he)

In [23]:
# one hot encoding
chi_onehot_cat = pd.get_dummies(chi_venues[['Venue Category']], prefix="", prefix_sep="")
chi_onehot_cat.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# add venue ID column back to dataframe
chi_onehot_cat['Venue ID'] = chi_venues['Venue ID']
chi_onehot_cat.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,...,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint,Venue ID
746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3fd66200f964a520c7f01ee3
234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3fd66200f964a520e1ed1ee3
718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40b28c80f964a52045fb1ee3
130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40b28c80f964a5205ffd1ee3
168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40b28c80f964a520a5fc1ee3

In [25]:
# move venue ID to the first column
fixed_columns = [chi_onehot_cat.columns[-1]] + list(chi_onehot_cat.columns[:-1])
chi_onehot_cat = chi_onehot_cat[fixed_columns]
chi_onehot_cat.head()

,Venue ID,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
746,3fd66200f964a520c7f01ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234,3fd66200f964a520e1ed1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,40b28c80f964a52045fb1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,40b28c80f964a5205ffd1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,40b28c80f964a520a5fc1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Use one-hot encoding on neighborhoods

In [26]:
# one hot encoding
chi_onehot_nhood = pd.get_dummies(chi_venues[['Neighborhood']], prefix="", prefix_sep="")
chi_onehot_nhood.head()

,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,Beverly,...,Washington Heights,Washington Park,West Elsdon,West Englewood,West Garfield Park,West Lawn,West Pullman,West Ridge,West Town,Woodlawn
746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# add venue ID column back to dataframe
chi_onehot_nhood['Venue ID'] = chi_venues['Venue ID']
# move venue ID to the first column
fixed_columns = [chi_onehot_nhood.columns[-1]] + list(chi_onehot_nhood.columns[:-1])
chi_onehot_nhood = chi_onehot_nhood[fixed_columns]

chi_onehot_nhood.head()

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Washington Heights,Washington Park,West Elsdon,West Englewood,West Garfield Park,West Lawn,West Pullman,West Ridge,West Town,Woodlawn
746,3fd66200f964a520c7f01ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234,3fd66200f964a520e1ed1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
718,40b28c80f964a52045fb1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,40b28c80f964a5205ffd1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,40b28c80f964a520a5fc1ee3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Create df with price of venues

In [47]:
def is_empty(any_structure):
    if any_structure:
        print('Structure is not empty.')
        return False
    else:
        print('Structure is empty.')
        return True

In [41]:
# create a function to repeat the same process to all venues
def getVenuePrice(venueids):
    
    venues_list=[]
    for venue_id in venueids:
        print(venue_id)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
        # make the GET request
        results = requests.get(url).json()
        results
        
        # return price for each venue
        #if "venue" in results['response']:
         #   if "price" in results['response']['venue']:
          #      venues_list.append([(venue_id, results['response']['venue']['price']['message']) ])
           # else:
            #    venues_list.append([(venue_id, "Price Unknown")])
        #else:
         #   results['response']

    #venue_prices = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    #venue_prices.columns = ['Venue ID', 'Price']
    
    #return(venue_prices)
    return(0)

In [49]:
# create a function to repeat the same process to all venues
def getVenuePrice(venueids):
    
    venues_list=[]
    for venue_id in venueids:
        #print(venue_id)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
        # make the GET request
        results = requests.get(url).json()
        
        # return price for each venue
        if results['response']:
            if results['response']['venue']:
                if results['response']['venue']['price']:
                    print("The price of {} is {}.".format(venue_id, results['response']['venue']['price']['message']))
                else:
                    print("There is no price for {}.".format(venue_id))
            else:
                print("There is no venue data for {}.".format(venue_id))
        else:
            print("There is no response for {}.".format(venue_id))

    #venue_prices = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    #venue_prices.columns = ['Venue ID', 'Price']
    
    #return(venue_prices)
    return(0)

In [50]:
chi_venues_sm = chi_venues.head()
chi_venues_sm

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
746,The Loop,Atwood,3fd66200f964a520c7f01ee3,41.883205,-87.628191,426,New American Restaurant
234,Lincoln Park,Sai Cafe,3fd66200f964a520e1ed1ee3,41.918481,-87.653361,343,Sushi Restaurant
718,The Loop,Monk's Pub,40b28c80f964a52045fb1ee3,41.885640,-87.634339,269,Pub
130,Lincoln Square,Daily Bar & Grill,40b28c80f964a5205ffd1ee3,41.964823,-87.686073,305,Bar
168,North Center,Laschet's Inn,40b28c80f964a520a5fc1ee3,41.954091,-87.681978,469,German Restaurant

In [51]:
dummy = getVenuePrice(venueids=chi_venues_sm['Venue ID'])

There is no response for 3fd66200f964a520c7f01ee3.
There is no response for 3fd66200f964a520e1ed1ee3.
There is no response for 40b28c80f964a52045fb1ee3.
There is no response for 40b28c80f964a5205ffd1ee3.
There is no response for 40b28c80f964a520a5fc1ee3.

In [44]:
venue_id = '3fd66200f964a520c7f01ee3'
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
# make the GET request
results = requests.get(url).json()
results

{'meta': {'code': 429,
  'errorType': 'quota_exceeded',
  'errorDetail': 'Quota exceeded',
  'requestId': '5d0edc44d176e9002579d695'},
 'response': {}}

In [45]:
resp = results['response']
resp

{}

In [48]:
is_empty(resp)

Structure is empty.

True

In [54]:
# create a function to repeat the same process to all venues
def getVenuePrice(venueids):
    
    venues_list=[]
    for venue_id in venueids:
        #print(venue_id)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
        # make the GET request
        results = requests.get(url).json()
        
        # return price for each venue
        if results['response']:
            if results['response']['venue']:
                if results['response']['venue']['price']:
                    venues_list.append([(venue_id, results['response']['venue']['price']['message']) ])
                else:
                    venues_list.append([(venue_id, "Price Unknown")])
            else:
                venues_list.append([(venue_id, "Price Unknown")])
        else:
            venues_list.append([(venue_id, "Price Unknown")])

    venue_prices = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    venue_prices.columns = ['Venue ID', 'Price']
    
    return(venue_prices)

In [55]:
chi_venue_prices = getVenuePrice(venueids=chi_venues['Venue ID'])
chi_venue_prices.head()

                   Venue ID          Price
0  3fd66200f964a520c7f01ee3  Price Unknown
1  3fd66200f964a520e1ed1ee3  Price Unknown
2  40b28c80f964a52045fb1ee3  Price Unknown
3  40b28c80f964a5205ffd1ee3  Price Unknown
4  40b28c80f964a520a5fc1ee3  Price Unknown

In [56]:
chi_venue_prices.groupby('Price').count()

               Venue ID
Price
Price Unknown      1272

Create one-hot encoding df of prices

In [32]:
# one hot encoding
chi_onehot_prices = pd.get_dummies(chi_venue_prices[['Price']], prefix="", prefix_sep="")
chi_onehot_prices.head()

   Price Unknown
0              1
1              1
2              1
3              1
4              1

In [36]:
# add venue ID column back to dataframe
chi_onehot_prices['Venue ID'] = chi_venue_prices['Venue ID']
chi_onehot_prices.head()

   Cheap  Expensive  Moderate  Price Unknown                  Venue ID
0      1          0         0              0  5710dcf0498e87c71d20b69d
1      1          0         0              0  4b5dde6ef964a520fa7029e3
2      0          0         1              0  5a2071ca47f876422319a3b6
3      1          0         0              0  4c117c7e17002d7f4755e609
4      1          0         0              0  51cf7f97498ee7d50a505393

Combine one-hot encoding dfs for categories, neighborhoods and prices

In [37]:
chi_onehot_all = pd.merge(pd.merge(chi_onehot_prices, chi_onehot_nhood, on='Venue ID'), chi_onehot_cat, on='Venue ID')
chi_onehot_all.head()

,Cheap,Expensive,Moderate,Price Unknown,Venue ID,Lincoln Square,North Center,Rogers Park,Uptown,West Ridge,...,Hot Dog Joint,Indian Restaurant,Italian Restaurant,Mexican Restaurant,New American Restaurant,Pizza Place,Restaurant,Sandwich Place,Sushi Restaurant,Taco Place
0,1,0,0,0,5710dcf0498e87c71d20b69d,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,4b5dde6ef964a520fa7029e3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,5a2071ca47f876422319a3b6,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,4c117c7e17002d7f4755e609,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,51cf7f97498ee7d50a505393,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
# move venue ID to the first column
fixed_columns = [chi_onehot_all.columns[5]] + list(chi_onehot_all.columns[:5]) + list(chi_onehot_all.columns[6:])
chi_onehot_all = chi_onehot_all[fixed_columns]
chi_onehot_all.head()

,Lincoln Square,Cheap,Expensive,Moderate,Price Unknown,Venue ID,North Center,Rogers Park,Uptown,West Ridge,...,Hot Dog Joint,Indian Restaurant,Italian Restaurant,Mexican Restaurant,New American Restaurant,Pizza Place,Restaurant,Sandwich Place,Sushi Restaurant,Taco Place
0,0,1,0,0,0,5710dcf0498e87c71d20b69d,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,4b5dde6ef964a520fa7029e3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,5a2071ca47f876422319a3b6,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,4c117c7e17002d7f4755e609,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,51cf7f97498ee7d50a505393,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Get user ratings of a venue

In [39]:
venue_id = '51cf7f97498ee7d50a505393'
url = 'https://api.foursquare.com/v2/venues/{}/likes?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
results = requests.get(url).json()
results['response']['likes']

{'count': 0}

In [40]:
venue_id = '4c117c7e17002d7f4755e609'
url = 'https://api.foursquare.com/v2/venues/{}/likes?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5d0e8d1b1a292500255ac700'},
 'response': {'likes': {'count': 8,
   'summary': '8 Likes',
   'items': [{'id': '15833163',
     'firstName': 'miss eee',
     'gender': 'none',
     'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
      'suffix': '/YCVD4NKMEL1OLLO3.jpg'}},
    {'id': '2084561',
     'firstName': 'Edwin',
     'lastName': 'C',
     'gender': 'male',
     'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
      'suffix': '/2084561-EX3ST4XDPWMLS1NU.jpg'}},
    {'id': '101365821',
     'firstName': 'William',
     'lastName': 'G',
     'gender': 'male',
     'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
      'suffix': '/101365821-QY2VUB4SO4SJIKPK.jpg'}}]}}}

In [41]:
results['response']['likes']['items'][0]['id']

'15833163'

In [42]:
for i in results['response']['likes']['items']:
    print(i['id'])

15833163
2084561
101365821

Loop thru venue df

search users who liked a venue ??
use json to populate user df

In [45]:
# create a function to get users who liked each venue
def getVenueLikes(venueids):
    
    venues_list=[]
    for venue_id in venueids:
        #print(venue_id)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/{}/likes?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
        # make the GET request
        results = requests.get(url).json()['response']['likes']
        
        # return price for each venue
        if "items" in results:
            for i in results['items']:
                venues_list.append([(venue_id, i['id'], 1) ])
        else:
            print("No likes for venue {}.".format(venue_id))

    venue_likes = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    venue_likes.columns = ['Venue ID', 'User ID', 'Rating']
    
    return(venue_likes)

In [46]:
chi_venue_likes = getVenueLikes(venueids=chi_venues['Venue ID'])
chi_venue_likes.head()

No likes for venue 51cf7f97498ee7d50a505393.

                   Venue ID   User ID  Rating
0  5710dcf0498e87c71d20b69d    515900       1
1  5710dcf0498e87c71d20b69d    229698       1
2  5710dcf0498e87c71d20b69d  51646211       1
3  4b5dde6ef964a520fa7029e3  50475374       1
4  4b5dde6ef964a520fa7029e3   2967333       1

In [49]:
print(chi_venue_likes[chi_venue_likes['User ID'] == '229698'] )

                   Venue ID User ID  Rating
1  5710dcf0498e87c71d20b69d  229698       1

In [50]:
chi_venue_likes.groupby('Venue ID').count()

                          User ID  Rating
Venue ID
40b28c80f964a520a5fc1ee3        3       3
4aa3dfaaf964a520384420e3        3       3
4af61997f964a5202c0122e3        1       1
4b08e160f964a520171323e3        3       3
4b0b0598f964a520ad2b23e3        3       3
4b35afb9f964a5208a2e25e3        3       3
4b4a7352f964a520038826e3        3       3
4b5dde6ef964a520fa7029e3        2       2
4b7e538af964a52096e92fe3        3       3
4c117c7e17002d7f4755e609        3       3
4c3921280a71c9b62a0e42c9        3       3
4c43b571429a0f4769d6471e        2       2
4c948290f244b1f7cac7221d        3       3
54273f56498e550c0584a8bb        3       3
542eed7c498e15b89f63ad00        2       2
560beb93498e42eb6c7f5d02        3       3
56258d3a498e647301effc48        2       2
5710dcf0498e87c71d20b69d        3       3
598df567345cbe0d6082c90b        3       3
59af0feb58002c0bd652ea47        3       3
59d556c4f0b49010357e5b1d        2       2
5a2071ca47f876422319a3b6        3       3
5a67dc1823a2e620156ea368        3       3
5aff66a30ff4f9002c3df3ea        1       1

In [51]:
chi_venue_likes.groupby('User ID').count()

           Venue ID  Rating
User ID
101365821         1       1
11377271          1       1
11443522          1       1
11911565          1       1
122886            1       1
124547371         1       1
1300363           1       1
14039436          1       1
148413047         1       1
152200            1       1
153925822         1       1
154673222         1       1
15833163          1       1
158962747         1       1
182032            1       1
182161252         1       1
18801748          1       1
18852448          1       1
2084561           1       1
21526838          1       1
215386            1       1
229698            1       1
25413876          1       1
26541006          1       1
26652172          1       1
2842165           1       1
2967333           1       1
3044265           1       1
30621067          1       1
3339655           1       1
...             ...     ...
38611478          1       1
407913448         1       1
439239999         1       1
45780765          1       1
4583849           1       1
465251828         1       1
46549035          1       1
469275428         1       1
471705251         1       1
479342438         1       1
48292             1       1
4852821           1       1
488148746         1       1
50475374          1       1
511072020         1       1
515900            1       1
51646211          2       2
530046963         1       1
578013            1       1
59248             1       1
6171213           1       1
641802            1       1
6717479           1       1
676385            1       1
75339681          2       2
7665100           1       1
7783572           1       1
87816276          1       1
9226720           1       1
95714036          1       1

[61 rows x 2 columns]

In [53]:
chi_venue_likes.groupby('User ID').filter(lambda x: len(x) > 1)

                    Venue ID   User ID  Rating
2   5710dcf0498e87c71d20b69d  51646211       1
25  4b35afb9f964a5208a2e25e3  75339681       1
30  4b4a7352f964a520038826e3  75339681       1
38  4aa3dfaaf964a520384420e3  51646211       1

Pick a test user.
Save test user ratings from user ratings to new df.

In [58]:
test_user_ratings = chi_venue_likes[chi_venue_likes['User ID'] == '51646211'].drop('User ID', 1)
test_user_ratings

                    Venue ID  Rating
2   5710dcf0498e87c71d20b69d       1
38  4aa3dfaaf964a520384420e3       1

In [61]:
#Resetting the index to avoid future issues
test_user_ratings = test_user_ratings.reset_index(drop=True)

In [62]:
test_user_ratings

                   Venue ID  Rating
0  5710dcf0498e87c71d20b69d       1
1  4aa3dfaaf964a520384420e3       1

Create new venue df of those the test user has rated (based on one-hot encoding df).

In [60]:
test_user_likes =  chi_onehot_all[chi_onehot_all['Venue ID'].isin(test_user_ratings['Venue ID'].tolist())]
test_user_likes

,Lincoln Square,Cheap,Expensive,Moderate,Price Unknown,Venue ID,North Center,Rogers Park,Uptown,West Ridge,...,Hot Dog Joint,Indian Restaurant,Italian Restaurant,Mexican Restaurant,New American Restaurant,Pizza Place,Restaurant,Sandwich Place,Sushi Restaurant,Taco Place
0,0,1,0,0,0,5710dcf0498e87c71d20b69d,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1,1,0,0,0,4aa3dfaaf964a520384420e3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Drop unnecessary columns

In [63]:
#Resetting the index to avoid future issues
test_user_likes = test_user_likes.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
test_user_features = test_user_likes.drop('Venue ID', 1)
test_user_features

,Lincoln Square,Cheap,Expensive,Moderate,Price Unknown,North Center,Rogers Park,Uptown,West Ridge,Bakery,...,Hot Dog Joint,Indian Restaurant,Italian Restaurant,Mexican Restaurant,New American Restaurant,Pizza Place,Restaurant,Sandwich Place,Sushi Restaurant,Taco Place
0,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Create vector of test user’s ratings

In [65]:
test_user_ratings['Rating']

0    1
1    1
Name: Rating, dtype: int64

Use dot product of vector and test user’s ratings to build test user profile

In [66]:
#Dot produt to get weights
userProfile = test_user_features.transpose().dot(test_user_ratings['Rating'])
#The user profile
userProfile

Lincoln Square             1
Cheap                      2
Expensive                  0
Moderate                   0
Price Unknown              0
North Center               0
Rogers Park                1
Uptown                     0
West Ridge                 0
Bakery                     0
Butcher                    0
Café                       1
Coffee Shop                1
Fast Food Restaurant       0
German Restaurant          0
Hot Dog Joint              0
Indian Restaurant          0
Italian Restaurant         0
Mexican Restaurant         0
New American Restaurant    0
Pizza Place                0
Restaurant                 0
Sandwich Place             0
Sushi Restaurant           0
Taco Place                 0
dtype: int64

Let's start by extracting the genre table from the original dataframe:

In [68]:
#Now let's get the features of every restaurant in our original dataframe
features_df = chi_onehot_all.set_index(chi_onehot_all['Venue ID'])
features_df.head()

,Lincoln Square,Cheap,Expensive,Moderate,Price Unknown,Venue ID,North Center,Rogers Park,Uptown,West Ridge,...,Hot Dog Joint,Indian Restaurant,Italian Restaurant,Mexican Restaurant,New American Restaurant,Pizza Place,Restaurant,Sandwich Place,Sushi Restaurant,Taco Place
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,0,1,0,0,0,5710dcf0498e87c71d20b69d,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,0,1,0,0,0,4b5dde6ef964a520fa7029e3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,0,0,0,1,0,5a2071ca47f876422319a3b6,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4c117c7e17002d7f4755e609,0,1,0,0,0,4c117c7e17002d7f4755e609,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,0,1,0,0,0,51cf7f97498ee7d50a505393,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Drop unnecessary columns from 1he df

In [69]:
#And drop the unnecessary information
features_df = features_df.drop('Venue ID', 1)
features_df.head()

,Lincoln Square,Cheap,Expensive,Moderate,Price Unknown,North Center,Rogers Park,Uptown,West Ridge,Bakery,...,Hot Dog Joint,Indian Restaurant,Italian Restaurant,Mexican Restaurant,New American Restaurant,Pizza Place,Restaurant,Sandwich Place,Sushi Restaurant,Taco Place
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,0,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4c117c7e17002d7f4755e609,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,0,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [70]:
#Multiply the features by the weights and then take the weighted average
recommendationTable_df = ((features_df*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

Venue ID
5710dcf0498e87c71d20b69d    0.666667
4b5dde6ef964a520fa7029e3    0.500000
5a2071ca47f876422319a3b6    0.166667
4c117c7e17002d7f4755e609    0.500000
51cf7f97498ee7d50a505393    0.500000
dtype: float64

Sort it

In [71]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head()

Venue ID
5710dcf0498e87c71d20b69d    0.666667
560beb93498e42eb6c7f5d02    0.666667
4aa3dfaaf964a520384420e3    0.666667
59d556c4f0b49010357e5b1d    0.500000
4b5dde6ef964a520fa7029e3    0.500000
dtype: float64

In [80]:
#The final recommendation table
recommended_venues = chi_venues.loc[chi_venues['Venue ID'].isin(recommendationTable_df.head(10).keys())]
recommended_venues

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery
5,West Ridge,Ghareeb Nawaz,4b7e538af964a52096e92fe3,41.998019,-87.681569,264,Indian Restaurant
11,Uptown,Ridman’s Coffee,59d556c4f0b49010357e5b1d,41.968856,-87.667612,255,Coffee Shop
16,Lincoln Square,Starbucks,4aa3dfaaf964a520384420e3,41.964799,-87.685861,294,Coffee Shop
19,Lincoln Square,Oromo Cafe,560beb93498e42eb6c7f5d02,41.966883,-87.687252,325,Café
20,North Center,Starbucks,54273f56498e550c0584a8bb,41.947936,-87.688509,486,Coffee Shop
21,North Center,Coffee Joint,59af0feb58002c0bd652ea47,41.954073,-87.681114,489,Coffee Shop

Add suggested ratings

In [81]:
recommended_ratings = pd.merge(recommended_venues, recommendationTable_df.rename('Rating'), left_on='Venue ID', right_index=True)
recommended_ratings

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category,Rating
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café,0.666667
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery,0.500000
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant,0.500000
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery,0.500000
5,West Ridge,Ghareeb Nawaz,4b7e538af964a52096e92fe3,41.998019,-87.681569,264,Indian Restaurant,0.333333
11,Uptown,Ridman’s Coffee,59d556c4f0b49010357e5b1d,41.968856,-87.667612,255,Coffee Shop,0.500000
16,Lincoln Square,Starbucks,4aa3dfaaf964a520384420e3,41.964799,-87.685861,294,Coffee Shop,0.666667
19,Lincoln Square,Oromo Cafe,560beb93498e42eb6c7f5d02,41.966883,-87.687252,325,Café,0.666667
20,North Center,Starbucks,54273f56498e550c0584a8bb,41.947936,-87.688509,486,Coffee Shop,0.500000
21,North Center,Coffee Joint,59af0feb58002c0bd652ea47,41.954073,-87.681114,489,Coffee Shop,0.500000

Drop unnecessary columns

In [87]:
recommended_venues = recommended_ratings.drop('Venue ID', 1).drop('Distance', 1)
recommended_venues.head()

,Neighborhood,Venue,Venue Latitude,Venue Longitude,Venue Category,Rating
0,Rogers Park,Charmers Cafe,42.016164,-87.668250,Café,0.666667
1,Rogers Park,Caribbean American Bakery,42.019371,-87.669705,Bakery,0.500000
3,Rogers Park,Jarvis Grill,42.015989,-87.668880,Fast Food Restaurant,0.500000
4,Rogers Park,Jamaican Bakery,42.018398,-87.669414,Bakery,0.500000
5,West Ridge,Ghareeb Nawaz,41.998019,-87.681569,Indian Restaurant,0.333333

Plot the top 5-10

In [85]:
# get coordinates for Toronto
address = 'Chicago, IL'

geolocator = Nominatim(user_agent="chi_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Chicago are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Chicago are 41.8755616, -87.6244212.

In [89]:
# create map
recommendation_map = folium.Map(location=[latitude, longitude], zoom_start=11)

In [90]:
# add markers to the map
for lat, lon, name, rat in zip(recommended_venues['Venue Latitude'], recommended_venues['Venue Longitude'], recommended_venues['Venue'], recommended_venues['Rating']):
    label = folium.Popup(str(name) + ' Rating ' + str(rat), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        fill=True,
        fill_opacity=0.7).add_to(recommendation_map)
       
recommendation_map