Create neighborhood dataframe from Excel – neighborhood, lat, long

In [1]:
# Import pandas library using an alias
import pandas as pd
# library to handle data in a vectorized manner
import numpy as np

# library to handle JSON files
import json
# library to handle requests
import requests
# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize

# import geocoder
import geocoder
# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# map rendering library
import folium

In [2]:
df_chi_data = pd.read_excel('CCASF12010CMAP.xlsx')
df_chi_data.head()

  GEOGKEYX        GEOGNAME   LATITUDE  UNSIGNED LONGITUDE  LONGITUDE
0  GeogKey            Geog        NaN                 NaN        NaN
1        1     Rogers Park  42.016667           87.666667 -87.666667
2        2      West Ridge  42.000000           87.683333 -87.683333
3        3          Uptown  41.966667           87.666667 -87.666667
4        4  Lincoln Square  41.966667           87.683333 -87.683333

In [3]:
df_chi_data.drop([0], axis = 0, inplace=True)
df_chi_data.drop(['UNSIGNED LONGITUDE'], axis=1, inplace=True)
df_chi_data.drop(['GEOGKEYX'], axis=1, inplace=True)
df_chi_data.head()

         GEOGNAME   LATITUDE  LONGITUDE
1     Rogers Park  42.016667 -87.666667
2      West Ridge  42.000000 -87.683333
3          Uptown  41.966667 -87.666667
4  Lincoln Square  41.966667 -87.683333
5    North Center  41.950000 -87.683333

Create empty venue df – neighborhood, venue name, venue id, venue lat, venue long, distance from neighborhood center, category, price

In [4]:
df_venues = pd.DataFrame(columns=['Neighborhood','VenueName','VenueID','Latitude','Longitude','Distance','Category','Price'])
df_venues

Empty DataFrame
Columns: [Neighborhood, VenueName, VenueID, Latitude, Longitude, Distance, Category, Price]
Index: []

Loop through neighborhoods

search for venues by long/lat
use json to populate venue df

In [5]:
# define Foursquare variables
CLIENT_ID = 'CT3K4Z2AEBTWGOKQLQKZ135JJ3B44KOQTB4BMEJ4R0AXXWSD' # your Foursquare ID
CLIENT_SECRET = 'TSJKVMWFPKG2ZV4NYZQDVIR5FIYOSRICDTHHKHWSMV5JHDMZ' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [6]:
# create a function to repeat the same process to all the neighborhoods
def getNearbyVenues(names, latitudes, longitudes, radius, LIMIT, CATEGORY, INTENT):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        #print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&categoryId={}&radius={}&limit={}&intent={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            lat, 
            lng,
            VERSION,
            CATEGORY, 
            radius, 
            LIMIT, 
            INTENT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['venues']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            v['name'], 
            v['id'], 
            v['location']['lat'], 
            v['location']['lng'],  
            v['location']['distance'],  
            v['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Venue', 
                  'Venue ID', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Distance',
                  'Venue Category']
    
    return(nearby_venues)

In [7]:
chi_venues = getNearbyVenues(names=df_chi_data['GEOGNAME'],
                                   latitudes=df_chi_data['LATITUDE'],
                                   longitudes=df_chi_data['LONGITUDE'],
                                   radius=500,
                                   LIMIT=100, 
                                   CATEGORY = '4d4b7105d754a06374d81259',
                                   INTENT = 'browse'
                                  )
chi_venues.head()

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery
2,Rogers Park,Tjam Kitchen,5a2071ca47f876422319a3b6,42.019310,-87.666920,294,Restaurant
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery

In [8]:
chi_venues.shape

(1338, 7)

Remove chain restaurants (those with more than 5 locations)

In [9]:
chi_venues_grouped = chi_venues.groupby('Venue').filter(lambda x: len(x) > 5)
chi_venues_grouped

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
90,Uptown,Subway,4b5b3875f964a52031ec28e3,41.965282,-87.661418,461,Sandwich Place
121,Lincoln Square,Starbucks,4aa3dfaaf964a520384420e3,41.964799,-87.685861,294,Coffee Shop
128,Lincoln Square,Potbelly Sandwich Shop,49f4c21ff964a5204b6b1fe3,41.966985,-87.687272,327,Sandwich Place
143,Lincoln Square,Dunkin',4c52d9412543a593290bfc85,41.966271,-87.688664,443,Donut Shop
166,North Center,Starbucks,54273f56498e550c0584a8bb,41.947936,-87.688509,486,Coffee Shop
169,North Center,Potbelly Sandwich Shop,542eed7c498e15b89f63ad00,41.948428,-87.688678,475,Sandwich Place
179,Lake View,Dunkin',4b5b6256f964a520aef928e3,41.954298,-87.650165,478,Donut Shop
180,Lake View,Dunkin',532488dc498e89b38c11821c,41.947083,-87.653812,452,Donut Shop
185,Lake View,Subway,4bd4d3736798ef3bbf80628d,41.947220,-87.653939,449,Sandwich Place
202,Lake View,Subway,4a42e581f964a5205da61fe3,41.951745,-87.649436,199,Sandwich Place
209,Lincoln Park,Starbucks,4aca1c81f964a5206cc020e3,41.917937,-87.653412,316,Coffee Shop
229,Lincoln Park,Subway,4aa6a251f964a520714a20e3,41.918408,-87.648531,228,Sandwich Place
232,Lincoln Park,Subway,4acc92c3f964a520ffc820e3,41.913294,-87.652856,443,Sandwich Place
240,Lincoln Park,Dunkin',5bdda908e1f228002cc5062d,41.912953,-87.653019,483,Café
250,Near North Side,Starbucks,4aeed96ff964a5205fd421e3,41.903826,-87.630157,500,Coffee Shop
253,Near North Side,Starbucks,4a8ae9baf964a520d10a20e3,41.896425,-87.635871,450,Coffee Shop
273,Near North Side,Starbucks,4b1ecf4cf964a520d51f24e3,41.899046,-87.628279,432,Coffee Shop
280,Near North Side,Starbucks,4a993362f964a5207f2d20e3,41.897660,-87.628426,482,Coffee Shop
282,Near North Side,Dunkin',4e1473be81dc308b5c664f9c,41.896389,-87.636172,465,Donut Shop
313,North Park,Starbucks,54273f56498e550c0584a8bb,41.947936,-87.688509,486,Coffee Shop
316,North Park,Potbelly Sandwich Shop,542eed7c498e15b89f63ad00,41.948428,-87.688678,475,Sandwich Place
322,Albany Park,Popeyes Louisiana Kitchen,4b4b91a6f964a5208ea026e3,41.968459,-87.713156,352,Fried Chicken Joint
327,Albany Park,Subway,4bf60bbfd4cdb713494684fe,41.968475,-87.713020,362,Sandwich Place
336,Albany Park,Dunkin',56093519498e9b727d329adc,41.968255,-87.712964,353,Café
373,Portage Park,McDonald's,4ba1e3e3f964a520b8d037e3,41.953432,-87.769084,431,Fast Food Restaurant
398,Irving Park,Potbelly Sandwich Shop,568acc92498e2d846607300f,41.953426,-87.732271,391,Sandwich Place
404,Irving Park,Dunkin',4b4f723df964a520010727e3,41.953326,-87.736027,432,Donut Shop
418,Irving Park,Subway,4edda8ecd3e346be38366881,41.953523,-87.735711,438,Sandwich Place
441,Belmont Cragin,Dunkin',4ba64374f964a5206c4039e3,41.936168,-87.766206,317,Donut Shop
445,Belmont Cragin,Subway,4b77bc39f964a520b2a82ee3,41.936526,-87.766297,356,Sandwich Place
...,...,...,...,...,...,...,...
1091,McKinley Park,McDonald's,4dda9be72271c5d36d863459,41.832685,-87.666982,389,Fast Food Restaurant
1096,Bridgeport,Dunkin',4b80ab02f964a520e88430e3,41.847063,-87.645974,467,Donut Shop
1098,Bridgeport,Starbucks,4c1e26e863750f47ae3fb967,41.852462,-87.646536,396,Coffee Shop
1102,Bridgeport,Potbelly Sandwich Shop,5638e61acd1023b5e5233358,41.851454,-87.645299,422,Sandwich Place
1103,Bridgeport,Baskin-Robbins,4f91bd9b7beb818efa883f8e,41.847102,-87.646131,455,Ice Cream Shop
1118,New City,McDonald's,4c93d4ab01dd76b0cd34b348,41.817907,-87.665747,157,Fast Food Restaurant
1119,New City,Dunkin',4cd7257f122ba143b60537a1,41.815714,-87.665422,147,Donut Shop
1135,New City,Baskin-Robbins,4f91bd9f7beb818efa884226,41.815570,-87.665619,149,Ice Cream Shop
1143,Gage Park,Dunkin',4b30de28f964a5204dfc24e3,41.782624,-87.684086,100,Donut Shop
1145,Gage Park,Subway,4d61541c865a224bc0a5b585,41.783361,-87.683903,47,Sandwich Place
1146,Gage Park,McDonald's,4e4e2624bd4101d0d7a365d3,41.785412,-87.685865,312,Fast Food Restaurant
1160,West Lawn,Dunkin',4bdae01c63c5c9b671472568,41.767117,-87.722141,457,Donut Shop
1170,West Lawn,Baskin-Robbins,4d881faf3acc6dcbc1ad011c,41.767238,-87.722223,465,Ice Cream Shop
1177,Chicago Lawn,Subway,4df25478d4c01ff6b2e7e242,41.764570,-87.683548,234,Sandwich Place
1194,West Englewood,Dunkin',4e1b6d062fb6a73574976012,41.787441,-87.665141,474,Donut Shop
1203,West Englewood,Baskin-Robbins,4f997b4ad4f21823bb1f4da6,41.785685,-87.663033,399,Ice Cream Shop
1204,West Englewood,Subway,4e4cef78bd413c4cc66d5b77,41.782710,-87.663346,284,Sandwich Place
1206,West Englewood,Subway,5661ec15498e4dd40ee329a2,41.786996,-87.664487,446,Sandwich Place
1221,Greater Grand Crossing,McDonald's,51bdde05498edd1e301d5d5b,41.770040,-87.618867,417,Fast Food Restaurant
1245,Auburn Gresham,Dunkin',56d6cee2498ecfaab9a82cd5,41.735680,-87.667530,270,Donut Shop
1249,Auburn Gresham,Subway,4c40a37bd691c9b6f6808b0a,41.735352,-87.662819,390,Sandwich Place
1259,Beverly,Starbucks,5b912abd06fb60002c4155a6,41.718739,-87.682664,237,Coffee Shop
1260,Beverly,Dunkin',4bc6154e6c26b7138d45ecf3,41.715176,-87.682290,187,Donut Shop
1272,Beverly,Potbelly Sandwich Shop,4c48b4396f1420a13502a454,41.719522,-87.682535,324,Sandwich Place
1289,Beverly,Baskin-Robbins,4e4e44b8bd4101d0d7a669eb,41.715294,-87.681995,188,Ice Cream Shop
1293,Washington Heights,Popeyes Louisiana Kitchen,4d07a210c2e537049b5dca67,41.720827,-87.651204,473,Fried Chicken Joint
1294,Washington Heights,Popeyes Louisiana Kitchen,4f32b56019836c91c7f1f285,41.721038,-87.650911,492,Fast Food Restaurant
1305,O'Hare,Baskin-Robbins,4f997b54d4f21823bb1f51c6,42.001673,-87.918975,266,Ice Cream Shop
1314,Edgewater,McDonald's,4b522aabf964a520f26c27e3,41.983955,-87.669195,220,Fast Food Restaurant
1335,Edgewater,Dunkin',58037f78d67c87b09685a79f,41.983680,-87.669020,198,Donut Shop

In [62]:
chi_venues = chi_venues[chi_venues.Venue != "Dunkin'"]
chi_venues = chi_venues[chi_venues.Venue != "Potbelly Sandwich Shop"]
chi_venues = chi_venues[chi_venues.Venue != "Starbucks"]
chi_venues = chi_venues[chi_venues.Venue != "Subway"]
chi_venues = chi_venues[chi_venues.Venue != "Baskin-Robbins"]
chi_venues = chi_venues[chi_venues.Venue != "Popeyes Louisiana Kitchen"]
chi_venues = chi_venues[chi_venues.Venue != "McDonald's"]
chi_venues.shape

(1223, 7)

In [63]:
chi_venues_grouped = chi_venues.groupby('Venue').filter(lambda x: len(x) > 5)
chi_venues_grouped

Empty DataFrame
Columns: [Neighborhood, Venue, Venue ID, Venue Latitude, Venue Longitude, Distance, Venue Category]
Index: []

Remove duplicates from venue df based on distance from neighborhood center (maybe sort by distance then keep first)

In [11]:
chi_venues.duplicated('Venue ID')
chi_venues_duplicates = chi_venues[chi_venues.duplicated(['Venue ID'])]
 
print("Duplicate venues are:", chi_venues_duplicates, sep='\n')

Duplicate venues are:
            Neighborhood                                          Venue  \
314           North Park                                   Coffee Joint
315           North Park                                  Laschet's Inn
317           North Park                                      Mod Pizza
318           North Park                   Reclaimed Bar and Restaurant
319           North Park                               Borinquen Lounge
320           North Park                                   Pete's Pizza
625   East Garfield Park                               Al's Under the L
626   East Garfield Park                           Lake's Best Pizzaria
627   East Garfield Park                                   Vegies Pizza
628   East Garfield Park                            Supper Club Chicago
629   East Garfield Park                               All Time Bar B Q
630   East Garfield Park                                      C & D BBQ
631   East Garfield Park                            Haute Diggity Dawgs
632   East Garfield Park                                 Sunny's Lounge
633   East Garfield Park                        Freedom Coffee Roasters
634   East Garfield Park                              Ja's Jerk Chicken
635   East Garfield Park                                       HOESmead
636   East Garfield Park                        Green Line Fish Chicken
637   East Garfield Park                                Kettle One Club
638   East Garfield Park                            American Restaurant
639   East Garfield Park  corner bakery, wabash and monroe, chicago, il
838              Douglas       Woven & Bound - Marriott Marquis Chicago
839              Douglas                                     McDonald's
840              Douglas                                     McDonald's
841              Douglas                                     Third Star
842              Douglas                             Ryba's Fudge Shops
843              Douglas                                 Connie's Pizza
844              Douglas                                 Sixes & Eights
845              Douglas                                     Food Court
847              Douglas                                    Bistro RSNA
...                  ...                                            ...
849              Douglas                                  Lakeside Cafe
850              Douglas                         Lavazza Coffee Display
851              Douglas            Natalie's Orchid Island Juice @ Nra
852              Douglas                                 The Plate Room
853              Douglas            All American Grill Mc Cormick Place
854              Douglas                                    Jamba Juice
855              Douglas                                 La Brea Bakery
856              Douglas                       Mercy Hospital Cafeteria
857              Douglas                             Daily Grind Market
858              Douglas                                 The Fine Print
859              Douglas                         Metropolis Coffee cart
860              Douglas                  The Market At McCormick Place
861              Douglas                        Tall Grass Beef Company
862              Douglas                                         SHARKS
863              Douglas                                     fomo grill
864              Douglas                              Resident's Lounge
866              Douglas                                 Dublin Dounuts
867              Douglas                            Hyatt Employee Cafe
868              Douglas                                  Overlook Cafe
869              Douglas                Butchs Lemonade McCormick Place
890              Kenwood                                Norman's Bistro
891              Kenwood                            Black Rose Pastries
892              Kenwood           Some Like It Black Creative Arts Bar
893              Kenwood                                     food truck
894              Kenwood                                    Mel's Diner
896              Kenwood                      Popeyes Louisiana Kitchen
1018            Burnside                                   Corner Store
1022             Pullman                        Sharks Fish And Chicken
1023             Pullman                               The Ramova Grill
1024             Pullman                             Mama Jones Burgers

                      Venue ID  Venue Latitude  Venue Longitude  Distance  \
314   59af0feb58002c0bd652ea47       41.954073       -87.681114       489
315   40b28c80f964a520a5fc1ee3       41.954091       -87.681978       469
317   598df567345cbe0d6082c90b       41.948088       -87.687989       440
318   5841baec26a4073fb5f89e49       41.948506       -87.688268       441
319   4b550755f964a52073d827e3       41.950699       -87.688327       420
320   4502e8ddf964a520d3381fe3       41.949827       -87.688328       413
625   4e7e2200be7bddefa4420ab0       41.884284       -87.699251       122
626   53854bc5498ebeec0443430e       41.883140       -87.695458       377
627   4f32ad3519836c91c7eeeb86       41.883697       -87.696354       304
628   4c9e937154c8a1cd1b4e8f4b       41.879990       -87.701508       392
629   4f44ea3619836ed001976f1f       41.881041       -87.699570       257
630   574dcd8e498eeac0db3bd269       41.882973       -87.705690       473
631   5a8dc64c5d891b280b22f689       41.879371       -87.702473       486
632   4f322cc019836c91c7bd863e       41.881024       -87.701433       283
633   4f44fa8519836ed00197e1df       41.887597       -87.699988       474
634   4f32849d19836c91c7df997c       41.884309       -87.696617       300
635   4f2a5e8ae4b00df25c994a61       41.884214       -87.697594       222
636   4f32828719836c91c7decc39       41.883631       -87.696340       305
637   51329981e4b041d1d357831c       41.881342       -87.701358       248
638   4f4496ee19836ed001951a96       41.880909       -87.701421       294
639   5086dc0ae4b0f0026eaa6fa2       41.881358       -87.694866       478
838   59b5338d28122f42d21e8656       41.853310       -87.620071       464
839   4bc8a2c314d79521e77c69e9       41.852015       -87.616047       230
840   4b9160d4f964a52098b733e3       41.847088       -87.616752       324
841   5a5c0f8cff1902590d80cca1       41.851690       -87.617590       203
842   4e1361a6e4cdef074b849f0a       41.854330       -87.615487       491
843   4e4fe03db61cf637a4fb006a       41.852444       -87.615867       280
844   5936fd6dd8fe7a24a2ea7414       41.851534       -87.617951       201
845   4c43358a520fa593f245ccac       41.851386       -87.617811       181
847   529b759b498e5adee81746ba       41.853431       -87.616563       381
...                        ...             ...              ...       ...
849   4bca142afb84c9b616581c3e       41.852543       -87.613125       407
850   5ce2bfb25c6838002cf3e0bd       41.852234       -87.613430       365
851   5ce032f59de23b002c8cf296       41.849792       -87.617190        49
852   511acc8ce4b047cff58d84cb       41.851008       -87.617358       126
853   50689045e4b0f646461c5ae4       41.851723       -87.621780       465
854   4fbbdc70e4b0c28e72eccf07       41.851306       -87.615728       164
855   506c3ac4e4b037d925e134c7       41.851806       -87.614143       290
856   5291291311d22ebd5ad88188       41.848093       -87.620612       389
857   4c0276e0187ec9289d33b47b       41.851471       -87.618241       209
858   4f36bedae4b00d9f95a7646b       41.849400       -87.615189       139
859   573760aa498ef5d24179d8de       41.851102       -87.619161       240
860   594ea4b37918711301d0be1d       41.850784       -87.621605       418
861   4f325b0d19836c91c7cfaa51       41.852989       -87.619011       385
862   4dacf76943a17e90f8ec5a80       41.851138       -87.618963       228
863   4fdcd95ce4b0f8bdf410c714       41.851201       -87.618963       232
864   50b37bf2e4b06cad414716c6       41.852475       -87.613501       380
866   4ee0c6cc0aafbb3dbaf86612       41.847852       -87.614586       294
867   500c780de4b052b69fcb263f       41.850296       -87.620102       286
868   4c3c9cd4933b0f47fa4ce421       41.850991       -87.621782       438
869   4d8b653e6ce6a35dd48d7442       41.853144       -87.616264       351
890   4caf82eceb65b1f78c4d64cd       41.816795       -87.601809       150
891   53a84caa498ec4faa093c335       41.818516       -87.605239       480
892   576f3ca6498ef2e961ba68e4       41.818432       -87.605251       477
893   50730d45e4b0d53d22548d09       41.818424       -87.605357       485
894   58c56d74297c1621cbc72d93       41.818465       -87.605324       484
896   4c8018ad51ada1cd869e0610       41.817599       -87.599083       128
1018  4f0f4eb3e4b0e190ad5cbd93       41.736908       -87.602821       461
1022  4d93b1424f78f04d1770e8b9       41.712693       -87.615810       448
1023  4f806c2de4b0cd6f61a7eb69       41.714161       -87.611827       489
1024  4f32350019836c91c7c0b644       41.715730       -87.620470       332

                 Venue Category
314                 Coffee Shop
315           German Restaurant
317                 Pizza Place
318                         Bar
319   Latin American Restaurant
320                 Pizza Place
625                Burger Joint
626                 Pizza Place
627                 Pizza Place
628         American Restaurant
629                        Food
630                   BBQ Joint
631               Hot Dog Joint
632                        Food
633                 Coffee Shop
634                        Food
635                      Bakery
636                        Food
637         American Restaurant
638                        Food
639                      Bakery
838         American Restaurant
839        Fast Food Restaurant
840        Fast Food Restaurant
841                  Restaurant
842                Dessert Shop
843                 Pizza Place
844            Asian Restaurant
845                  Food Court
847         American Restaurant
...                         ...
849                        Café
850                 Coffee Shop
851                   Juice Bar
852         American Restaurant
853         American Restaurant
854                   Juice Bar
855                        Café
856                   Cafeteria
857                 Coffee Shop
858         American Restaurant
859                 Coffee Shop
860                  Food Court
861                        Food
862         Fried Chicken Joint
863                  Food Court
864                   Cafeteria
866                 Coffee Shop
867                        Café
868         American Restaurant
869                 Snack Place
890                  Restaurant
891                      Bakery
892                   Juice Bar
893                  Food Truck
894                       Diner
896         Fried Chicken Joint
1018                  BBQ Joint
1022        Fried Chicken Joint
1023               Burger Joint
1024                       Food

[61 rows x 7 columns]

Sort venue list by venue ID and distance from neighborhood center

In [64]:
chi_venues.sort_values(by=['Venue ID', 'Distance'], inplace=True)
chi_venues.head()

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
695,The Loop,Atwood,3fd66200f964a520c7f01ee3,41.883205,-87.628191,426,New American Restaurant
221,Lincoln Park,Sai Cafe,3fd66200f964a520e1ed1ee3,41.918481,-87.653361,343,Sushi Restaurant
678,The Loop,Monk's Pub,40b28c80f964a52045fb1ee3,41.885640,-87.634339,269,Pub
127,Lincoln Square,Daily Bar & Grill,40b28c80f964a5205ffd1ee3,41.964823,-87.686073,305,Bar
163,North Center,Laschet's Inn,40b28c80f964a520a5fc1ee3,41.954091,-87.681978,469,German Restaurant

In [67]:
# Check entries for a given venue
chi_venues[chi_venues['Venue ID'] == '59b5338d28122f42d21e8656']

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
703,Near South Side,Woven & Bound - Marriott Marquis Chicago,59b5338d28122f42d21e8656,41.85331,-87.620071,464,American Restaurant
782,Douglas,Woven & Bound - Marriott Marquis Chicago,59b5338d28122f42d21e8656,41.85331,-87.620071,464,American Restaurant

In [68]:
# Drop duplicates, keeping the first entry only
chi_venues.drop_duplicates(subset="Venue ID", keep='first', inplace=True)
# Check our sample venue again
chi_venues[chi_venues['Venue ID'] == '59b5338d28122f42d21e8656']

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
703,Near South Side,Woven & Bound - Marriott Marquis Chicago,59b5338d28122f42d21e8656,41.85331,-87.620071,464,American Restaurant

In [69]:
# Check the number of entries
print(chi_venues.shape)

(1165, 7)

Reset index after removing rows

In [12]:
chi_venues = chi_venues.reset_index(drop=True)
chi_venues.head()

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery
2,Rogers Park,Tjam Kitchen,5a2071ca47f876422319a3b6,42.019310,-87.666920,294,Restaurant
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery

In [13]:
# how many venues for each neighborhood
chi_venues.groupby('Neighborhood').count()

,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
Neighborhood,,,,,,
Albany Park,48,48,48,48,48,48
Archer Heights,6,6,6,6,6,6
Armour Square,49,49,49,49,49,49
Ashburn,11,11,11,11,11,11
Auburn Gresham,14,14,14,14,14,14
Austin,15,15,15,15,15,15
Avalon Park,24,24,24,24,24,24
Avondale,15,15,15,15,15,15
Belmont Cragin,37,37,37,37,37,37
Beverly,31,31,31,31,31,31
Bridgeport,21,21,21,21,21,21
Brighton Park,37,37,37,37,37,37
Burnside,1,1,1,1,1,1
Chatham,1,1,1,1,1,1
Chicago Lawn,20,20,20,20,20,20
Clearing,4,4,4,4,4,4
Douglas,30,30,30,30,30,30
Dunning,17,17,17,17,17,17
East Garfield Park,15,15,15,15,15,15
East Side,1,1,1,1,1,1
Edgewater,31,31,31,31,31,31
Edison Park,2,2,2,2,2,2
Englewood,5,5,5,5,5,5
Fuller Park,6,6,6,6,6,6
Gage Park,11,11,11,11,11,11
Grand Boulevard,7,7,7,7,7,7
Greater Grand Crossing,16,16,16,16,16,16
Hermosa,22,22,22,22,22,22
Humboldt Park,15,15,15,15,15,15
Hyde Park,24,24,24,24,24,24
...,...,...,...,...,...,...
Near North Side,45,45,45,45,45,45
Near South Side,30,30,30,30,30,30
Near West Side,16,16,16,16,16,16
New City,19,19,19,19,19,19
North Center,6,6,6,6,6,6
North Lawndale,10,10,10,10,10,10
North Park,6,6,6,6,6,6
Norwood Park,7,7,7,7,7,7
O'Hare,1,1,1,1,1,1
Oakland,6,6,6,6,6,6
Portage Park,25,25,25,25,25,25
Pullman,3,3,3,3,3,3
Riverdale,1,1,1,1,1,1
Rogers Park,27,27,27,27,27,27
Roseland,3,3,3,3,3,3
South Chicago,36,36,36,36,36,36
South Lawndale,14,14,14,14,14,14
South Shore,13,13,13,13,13,13
The Loop,35,35,35,35,35,35
Uptown,46,46,46,46,46,46
Washington Heights,3,3,3,3,3,3
Washington Park,7,7,7,7,7,7
West Elsdon,5,5,5,5,5,5
West Englewood,14,14,14,14,14,14
West Garfield Park,14,14,14,14,14,14
West Lawn,12,12,12,12,12,12
West Pullman,2,2,2,2,2,2
West Ridge,46,46,46,46,46,46
West Town,28,28,28,28,28,28
Woodlawn,12,12,12,12,12,12

In [14]:
# how many unique categories
print('There are {} uniques categories.'.format(len(chi_venues['Venue Category'].unique())))

There are 106 uniques categories.

In [15]:
chi_venues.to_excel('ChicagoVenues.xlsx')

Get user ratings of a venue

Loop thru venue df

search users who liked a venue ??
use json to populate user df

In [16]:
# create a function to get users who liked each venue
def getVenueLikes(venueids):
    
    venues_list=[]
    for venue_id in venueids:
        #print(venue_id)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/{}/likes?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
        # make the GET request
        results = requests.get(url).json()['response']['likes']
        
        # return price for each venue
        if "items" in results:
            for i in results['items']:
                venues_list.append([(venue_id, i['id'], 1) ])
        else:
            print("No likes for venue {}.".format(venue_id))

    venue_likes = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    venue_likes.columns = ['Venue ID', 'User ID', 'Rating']
    
    return(venue_likes)

In [17]:
chi_venue_likes = getVenueLikes(venueids=chi_venues['Venue ID'])
chi_venue_likes.head()

No likes for venue 51cf7f97498ee7d50a505393.
No likes for venue 501c2f2ee4b08947b4b93ad9.
No likes for venue 4f3235f519836c91c7c11167.
No likes for venue 55ad8b02498ee9a4d38f3437.
No likes for venue 4e16e1bdfa76a474496f5683.
No likes for venue 5765f851498ec7182331d0cc.
No likes for venue 53bb6e86498e01e11c501cb4.
No likes for venue 4f32480719836c91c7c83b66.
No likes for venue 5223916d11d27dd32e355ce5.
No likes for venue 50270532e4b0e6861f0acf73.
No likes for venue 56ae52ef498eed4822e4a4e4.
No likes for venue 4d8a63d04757721ee437b669.
No likes for venue 4f2741c3e4b067a32993f36f.
No likes for venue 55b220d4498ec1a2f280dc45.
No likes for venue 5b65327bcb3fd200391472e5.
No likes for venue 4b453428f964a520e10726e3.
No likes for venue 50f22f89e4b01e115acf4e98.
No likes for venue 4f44903019836ed00194e7fa.
No likes for venue 54a35873498e9be465ba3336.
No likes for venue 53d5b1d8498e5d7ed7628d9a.
No likes for venue 5554daea498e2644fc6f6f5c.
No likes for venue 4b8b1e8ff964a520c29332e3.
No likes for venue 4f3257b219836c91c7ce57d2.
No likes for venue 58908c35dc332914bc116ade.
No likes for venue 58b9b0010393cc59309b0fb8.
No likes for venue 58ab7a4f0a3d5449dc949d43.
No likes for venue 51cec2d9ccdaddcc550cb17b.
No likes for venue 5c468dcbd552c7002c3ff905.
No likes for venue 4d2ad64b915fa0937605120a.
No likes for venue 4f32973319836c91c7e6ab35.
No likes for venue 4c7c4d32a141b1f769e56a79.
No likes for venue 4f324f3219836c91c7cb07ed.
No likes for venue 51c63cbc498e8400012cdd88.
No likes for venue 4e0e117a8877936cb401c8d5.
No likes for venue 4f324ca319836c91c7ca0a9c.
No likes for venue 4f325a4c19836c91c7cf5e8c.
No likes for venue 4dfab2a61f6eeef806a8b6f2.
No likes for venue 5a58e667e1f228592884e3e7.
No likes for venue 5b01766a42d8c2002c8c275e.
No likes for venue 4fcaea40e4b07471e063b446.
No likes for venue 504bb530e4b03e711f554b01.
No likes for venue 4d87ce7c7139b1f7c95e95d4.
No likes for venue 4f32a05619836c91c7ea1691.
No likes for venue 4f326bda19836c91c7d62d91.
No likes for venue 4f321e0419836c91c7b7a6ab.
No likes for venue 570483f1498e0bf50c1a04de.
No likes for venue 4e4e237ebd4101d0d7a3217a.
No likes for venue 4f43ac6119834bc91f582bad.
No likes for venue 575213bb498e34c6a7021ec4.
No likes for venue 4e03fdb4a8090c09369fb5c7.
No likes for venue 4e4e19d3bd4101d0d7a2445e.
No likes for venue 4eac3a3b29c2152dec1531c6.
No likes for venue 4f3277dc19836c91c7dabdac.
No likes for venue 4e4e237fbd4101d0d7a32193.
No likes for venue 5a21f90ecad1b67b8f26cb89.
No likes for venue 4e1f824322717a5245b73ad9.
No likes for venue 5a410ba506fb603df129dcba.
No likes for venue 4e4c7ff6bd413c4cc669d78b.
No likes for venue 4f3289d619836c91c7e19acc.
No likes for venue 4f43fb9a19836ed001918f1c.
No likes for venue 4f32463b19836c91c7c781d2.
No likes for venue 5babd22bc36588002c8875fe.
No likes for venue 5c3130857c891c002da7fc25.
No likes for venue 5655158638faea42f10dd2d6.
No likes for venue 5c3ba86e535d6f002c36c021.
No likes for venue 5b0fa87951950e002cc1acf2.
No likes for venue 5caa2b55b25fee002c31f941.
No likes for venue 5b43ef85cad1b6002c06623d.
No likes for venue 4f2f1e6ce4b0ccb914a14c30.
No likes for venue 4f43f42a19836ed001916490.
No likes for venue 50cb85bed86c080d9129267a.
No likes for venue 4ed967339911a3e78c0257cc.
No likes for venue 5159e309e4b0862f1cec1b4f.
No likes for venue 4f3236c019836c91c7c15e7b.
No likes for venue 4e4ee9d5aeb70f1284995e22.
No likes for venue 4bd60445637ba5939978f770.
No likes for venue 4f44184619836ed00192401f.
No likes for venue 5cf336f7588e36002c842e29.
No likes for venue 4f0ca482e4b0c67b451e3987.
No likes for venue 4ba43b9af964a520768e38e3.
No likes for venue 4f4e8a98e4b03933883253aa.
No likes for venue 57a55aa5cd10f2001235aaf4.
No likes for venue 51ca49b2498e9851c779c678.
No likes for venue 4f7f3cdfe4b08fc03a1e662f.
No likes for venue 4f32427919836c91c7c5facf.
No likes for venue 4f325b3219836c91c7cfb7fc.
No likes for venue 4e4e23d0bd4101d0d7a3299f.
No likes for venue 4dc71fc4c65b89d3ca98e6de.
No likes for venue 4f32b5ea19836c91c7f22693.
No likes for venue 5b590541e7a237002cd7f130.
No likes for venue 4f440b3719836ed00191f733.
No likes for venue 4e4e3991bd4101d0d7a546cf.
No likes for venue 4e41630518a875a006ab638d.
No likes for venue 588e3add5e7896466a209874.
No likes for venue 4f32245019836c91c7ba407e.
No likes for venue 4c6d86901cbeb7139113993c.
No likes for venue 59cac5c360255e1072979900.
No likes for venue 4e4e23cbbd4101d0d7a3292e.
No likes for venue 4f321f7719836c91c7b84242.
No likes for venue 4f3276e119836c91c7da5f1b.
No likes for venue 4f3280e019836c91c7de2b93.
No likes for venue 4f3206c719833175d60afdc8.
No likes for venue 518b1cbc498e4bb1c631e42c.
No likes for venue 57d9d16b498ea371d0cac437.
No likes for venue 523cd91f11d22b2bae77a371.
No likes for venue 4c1f7248e923ef3b37bd4e54.
No likes for venue 4e25b9dd814d0c070b6b430d.
No likes for venue 5180833c498e14703c78575a.
No likes for venue 4f32552519836c91c7cd5c8c.
No likes for venue 5368db03498e6356bcabdcf6.
No likes for venue 4e33285afa76f00388be39ac.
No likes for venue 4d72cd5e5838a093710a11db.
No likes for venue 5057bcd2e4b0b66b94f4ee62.
No likes for venue 4f32623119836c91c7d2754a.
No likes for venue 4f32291719836c91c7bc1f9e.
No likes for venue 4ed2628db8f7971d6cfce674.
No likes for venue 53ffae64498ee8f46cd5b765.
No likes for venue 4fcaab44e4b04ba0d138c22c.
No likes for venue 4f325e8219836c91c7d10511.
No likes for venue 51976b93498e7818792c30a1.
No likes for venue 4f32b2c419836c91c7f0f7ae.
No likes for venue 4ffe57c3e4b0ca9b90229fd6.
No likes for venue 4bcb48ad3740b713d3236265.
No likes for venue 53c2cdee498edc57487586d1.
No likes for venue 4cb0e46feb65b1f7554c70cd.
No likes for venue 56ac6f8b498e9e5b3b46e0d4.
No likes for venue 5cb7c41ae70655002592b96a.
No likes for venue 4f329c4c19836c91c7e89457.
No likes for venue 4f7cb5eae4b0ffda0e4b6c50.
No likes for venue 4f32267919836c91c7bb1aaa.
No likes for venue 4fa017e9e4b0a93abe1dd9a3.
No likes for venue 4bbce13607809521ffe2d991.
No likes for venue 4de807f052b1741cdaf88bdb.
No likes for venue 54c2dddc498e753931858965.
No likes for venue 5bd10c193149b9002cc77b2c.
No likes for venue 4f32ab7319836c91c7ee43e1.
No likes for venue 56abcdf7498e016d61deaa4b.
No likes for venue 5248714d11d27f049676e8bf.
No likes for venue 515a28e570430dedbbba9679.
No likes for venue 4d7bf0126152b60c959d8826.
No likes for venue 4e6abd4bfa76cd0f76d7c845.
No likes for venue 4f36f610e4b0e313d311d8e9.
No likes for venue 4f613b46e4b0ef8e1e73f4cc.
No likes for venue 4f434e1b19834bc91f55d614.
No likes for venue 59d6abf70c9f3107b053631c.
No likes for venue 4b9c0829f964a520ed4236e3.
No likes for venue 4f91bd9d7beb818efa884085.
No likes for venue 4d5b8826b77a8cfadbf4d118.
No likes for venue 539b791a498ea6a823263a63.
No likes for venue 4fcf9d9ee4b079a09dbe9213.
No likes for venue 4f2db8aee4b0fed2aec402ab.
No likes for venue 4d2935fd55a8b60c5405d5c0.
No likes for venue 4f32124919833175d60dabe2.
No likes for venue 4f322fd719836c91c7beaf62.
No likes for venue 5116bdebe4b0160c409c53ac.
No likes for venue 5160772ae4b006e8f72b17bb.
No likes for venue 5a886f1ed4cc98775d530b15.
No likes for venue 4e333e7cc65bdb4c79fb5c51.
No likes for venue 59dab6c75d891b5884f6f665.
No likes for venue 4ba56a9ff964a520050539e3.
No likes for venue 4f32337719836c91c7c017f6.
No likes for venue 4c9bcd0bc5fe236a96091023.
No likes for venue 51eddb7f498ee0ce4cb37c81.
No likes for venue 4fdbf9c3e4b0503efc16f696.
No likes for venue 5716c827498ee529a71b3f80.
No likes for venue 4f32699519836c91c7d55066.
No likes for venue 4d94dd845241a1cd5696694b.
No likes for venue 57118855498e9fcbf728b812.
No likes for venue 4f3fc481e4b0714790cfeb22.
No likes for venue 5814c3bc38fa002765b237b0.
No likes for venue 4f3255e419836c91c7cda582.
No likes for venue 4d141a9b85fc6dcb7bf3944e.
No likes for venue 4f324e4519836c91c7caac13.
No likes for venue 4f32b5e619836c91c7f22553.
No likes for venue 50328cc1e4b012f4bc7c9965.
No likes for venue 4ca53a74a6e08cfa5b8f6f94.
No likes for venue 5cdb73d46a5950002c1a7849.
No likes for venue 4d4602f64e5d3704f282fd93.
No likes for venue 5cfd96e3d552c7002c40e870.
No likes for venue 5c7202e6c97f280039c22a12.
No likes for venue 51e1657a8bbd9beea4fe0123.
No likes for venue 4f32b59519836c91c7f2070a.
No likes for venue 4f3227a419836c91c7bb91e5.

No likes for venue 5907fcb86a5950378c1aced2.
No likes for venue 4c732ad89e706dcb01fb4c62.
No likes for venue 4f329f4519836c91c7e9b007.
No likes for venue 5a444a11a2c00b5c131097c7.
No likes for venue 52754a2711d2179816750de1.
No likes for venue 4bbfde2974a9a5932350cff6.
No likes for venue 51e1e439498eef8b3bbe33ba.
No likes for venue 4e1fa15245dd950bb0128dba.
No likes for venue 4e83e76b02d5a75503f44fa8.
No likes for venue 4fd39190e4b065401a9f0808.
No likes for venue 4f32ad3519836c91c7eeeb86.
No likes for venue 4c9e937154c8a1cd1b4e8f4b.
No likes for venue 4f44ea3619836ed001976f1f.
No likes for venue 574dcd8e498eeac0db3bd269.
No likes for venue 5a8dc64c5d891b280b22f689.
No likes for venue 4f322cc019836c91c7bd863e.
No likes for venue 4f44fa8519836ed00197e1df.
No likes for venue 4f32849d19836c91c7df997c.
No likes for venue 4f2a5e8ae4b00df25c994a61.
No likes for venue 4f32828719836c91c7decc39.
No likes for venue 4f4496ee19836ed001951a96.
No likes for venue 5086dc0ae4b0f0026eaa6fa2.
No likes for venue 5cd61e823092be002c034983.
No likes for venue 54fca2c3498e724a96e401cd.
No likes for venue 4f32686719836c91c7d4da95.
No likes for venue 4bb12974f964a520987f3ce3.
No likes for venue 4f323a2619836c91c7c2b337.
No likes for venue 4c714a20b5a5236a1d8e5252.
No likes for venue 4e5d741fae60839ea2e548ed.
No likes for venue 4f327c8719836c91c7dc82c1.
No likes for venue 4f32906f19836c91c7e41b15.
No likes for venue 4e1b39f9e4cdb1407392986c.
No likes for venue 4f07eddfe4b0fcefa807b2f0.
No likes for venue 4f322e1b19836c91c7be081b.
No likes for venue 4fca86e70cd656c01a5997d0.
No likes for venue 52dd2fc111d2b17af2e96b2e.
No likes for venue 4efa4ebaa69dea74fd3ceb90.
No likes for venue 4f4d34c1e4b05b49b485ad29.
No likes for venue 4f32188019836c91c7b5601e.
No likes for venue 4f3255a519836c91c7cd8e10.
No likes for venue 4eefb322991107885adc87c2.
No likes for venue 4f323e3a19836c91c7c44fb2.
No likes for venue 4f321ee419836c91c7b8040f.
No likes for venue 4fd187e7e4b012fef4cb4971.
No likes for venue 4f32ad3519836c91c7eeeb86.
No likes for venue 4c9e937154c8a1cd1b4e8f4b.
No likes for venue 4f44ea3619836ed001976f1f.
No likes for venue 574dcd8e498eeac0db3bd269.
No likes for venue 5a8dc64c5d891b280b22f689.
No likes for venue 4f322cc019836c91c7bd863e.
No likes for venue 4f44fa8519836ed00197e1df.
No likes for venue 4f32849d19836c91c7df997c.
No likes for venue 4f2a5e8ae4b00df25c994a61.
No likes for venue 4f32828719836c91c7decc39.
No likes for venue 4f4496ee19836ed001951a96.
No likes for venue 5086dc0ae4b0f0026eaa6fa2.
No likes for venue 5c9e7614fb8e59002cd0399e.
No likes for venue 4f7f255be4b049fd33c94e57.
No likes for venue 57519ab0498e7cf9f37e1927.
No likes for venue 4f44119619836ed001922160.
No likes for venue 4f323b5b19836c91c7c32a4a.
No likes for venue 4f3244c319836c91c7c6e78e.
No likes for venue 4e052450ae60a90eabba65eb.
No likes for venue 4f3291cb19836c91c7e49fe2.
No likes for venue 4e02548caeb76b61098add33.
No likes for venue 4cca0c5cd7538cfa714ff078.
No likes for venue 4de3e88818505285fcf1ebd2.
No likes for venue 4e4e2b00bd4101d0d7a3ca50.
No likes for venue 4f327eab19836c91c7dd55ab.
No likes for venue 4f32b03c19836c91c7f00847.
No likes for venue 4f32565719836c91c7cdd189.
No likes for venue 4f3270da19836c91c7d8157d.
No likes for venue 5cbcffd460255e00395f67b7.
No likes for venue 4fce5caee4b0844bff8e9f01.
No likes for venue 4f9b29f7e4b01da4ff385b29.
No likes for venue 4f32844a19836c91c7df7aab.
No likes for venue 4c92b989418ea1cd0e9ba785.
No likes for venue 4c9a8e2eb8e9224b02ea4e3d.
No likes for venue 4f32935719836c91c7e535b6.
No likes for venue 5cf74387270ee7002c25e0f7.
No likes for venue 4f32941919836c91c7e5808e.
No likes for venue 4b5e41eaf964a520708629e3.
No likes for venue 4f449d4619836ed001954952.
No likes for venue 4f32253f19836c91c7ba9d9a.
No likes for venue 548cfd9d498ed1c2766cf177.
No likes for venue 50a909e5e4b041e7e1c78540.
No likes for venue 581e7e6dcb54576c36e8525b.
No likes for venue 4e07f2621f6e211033906bb6.
No likes for venue 5bbd2d451543c7002c5ccb9a.
No likes for venue 4e1361a6e4cdef074b849f0a.
No likes for venue 5ce2bfb25c6838002cf3e0bd.
No likes for venue 5ce032f59de23b002c8cf296.
No likes for venue 50689045e4b0f646461c5ae4.
No likes for venue 506c3ac4e4b037d925e134c7.
No likes for venue 5291291311d22ebd5ad88188.
No likes for venue 4f36bedae4b00d9f95a7646b.
No likes for venue 573760aa498ef5d24179d8de.
No likes for venue 594ea4b37918711301d0be1d.
No likes for venue 4f325b0d19836c91c7cfaa51.
No likes for venue 4fdcd95ce4b0f8bdf410c714.
No likes for venue 4ee0c6cc0aafbb3dbaf86612.
No likes for venue 500c780de4b052b69fcb263f.
No likes for venue 4c3c9cd4933b0f47fa4ce421.
No likes for venue 4d8b653e6ce6a35dd48d7442.
No likes for venue 5862e719a36ecd3c73695eb0.
No likes for venue 5b4a5a3a3d4791002ca900a9.
No likes for venue 5b09f5564f0e58002c6fc9b5.
No likes for venue 4e1361a6e4cdef074b849f0a.
No likes for venue 5ce2bfb25c6838002cf3e0bd.
No likes for venue 5ce032f59de23b002c8cf296.
No likes for venue 50689045e4b0f646461c5ae4.
No likes for venue 506c3ac4e4b037d925e134c7.
No likes for venue 5291291311d22ebd5ad88188.
No likes for venue 4f36bedae4b00d9f95a7646b.
No likes for venue 573760aa498ef5d24179d8de.
No likes for venue 594ea4b37918711301d0be1d.
No likes for venue 4f325b0d19836c91c7cfaa51.
No likes for venue 4fdcd95ce4b0f8bdf410c714.
No likes for venue 4ee0c6cc0aafbb3dbaf86612.
No likes for venue 500c780de4b052b69fcb263f.
No likes for venue 4c3c9cd4933b0f47fa4ce421.
No likes for venue 4d8b653e6ce6a35dd48d7442.
No likes for venue 53a84caa498ec4faa093c335.
No likes for venue 58c56d74297c1621cbc72d93.
No likes for venue 4c8018ad51ada1cd869e0610.
No likes for venue 4d8f9aba5091a1cd7224aa01.
No likes for venue 58beff9a0aac7512bee33ce9.
No likes for venue 53a84caa498ec4faa093c335.
No likes for venue 58c56d74297c1621cbc72d93.
No likes for venue 4c8018ad51ada1cd869e0610.
No likes for venue 4e6d61b0d1647053b9ab43e9.
No likes for venue 50e38e47e4b0a2ae3c59273d.
No likes for venue 4f322f8119836c91c7be8da1.
No likes for venue 4f32120b19833175d60d93ab.
No likes for venue 4f32835b19836c91c7df1e7b.
No likes for venue 58a5f754005a0f686d782330.
No likes for venue 4c093c466071a593798cdd32.
No likes for venue 4f8980fae4b0af04c08ca3d4.
No likes for venue 4e5d4cf831519cd0f26686d6.
No likes for venue 4e5c160ab99329e22ae1d58b.
No likes for venue 4b9fe205f964a520464737e3.
No likes for venue 592f37ac67af3a203f726547.
No likes for venue 4dcd71708877851243de9cfa.
No likes for venue 4f32478e19836c91c7c80cf2.
No likes for venue 4e5d4c4931519cd0f26686a0.
No likes for venue 4e96e77877c83a331599cb12.
No likes for venue 5939e1c09ad60e0c07ccddcd.
No likes for venue 4c6f1a329c6d6dcb729dce7a.
No likes for venue 5c8c6cd4da5e56002c9341fa.
No likes for venue 505a15a0e4b06909b9453037.
No likes for venue 4f325e3f19836c91c7d0e9f6.
No likes for venue 4f327e1c19836c91c7dd1c10.
No likes for venue 4ea5d8c6775b1e72ed644aea.
No likes for venue 4f0f4eb3e4b0e190ad5cbd93.
No likes for venue 52c06f9c498ed14da49a4128.
No likes for venue 4f32a33c19836c91c7eb3016.
No likes for venue 500c5649e4b0e9540505fbb8.
No likes for venue 4ce570f519efa0932373c5f1.
No likes for venue 4f32b19719836c91c7f086d7.
No likes for venue 4f580aece4b005517129b606.
No likes for venue 4facac1ee4b054e6d9575184.
No likes for venue 5ba15b1ad41bb7002c4835e5.
No likes for venue 51a100e0498e11239470f37a.
No likes for venue 4daf67b181548efb15aad4fa.
No likes for venue 4d9725c9b188721e00a20737.
No likes for venue 4f32100319833175d60cc8c9.
No likes for venue 5b3424ac47f876002c8121ca.
No likes for venue 4f32104019833175d60cdfff.
No likes for venue 5054fed0e4b0150f2eb1466d.
No likes for venue 4e6d334afa7624c16b39510c.
No likes for venue 4f44429d19836ed001932104.
No likes for venue 4f44de9d19836ed001971c52.
No likes for venue 4f32a57b19836c91c7ec0886.
No likes for venue 5b19eabcc03635002c2f97c8.
No likes for venue 5967ffd9b9a5a85aa6e3bd98.
No likes for venue 5b26e12097cf5a002c31af3d.
No likes for venue 586ff9dbf63c5450177786d5.
No likes for venue 4eb0811ccc21adeaf7b3dd10.
No likes for venue 4e02aa6b814d160fdaf56bdf.
No likes for venue 4f329dc719836c91c7e92465.
No likes for venue 4f91bdaa7beb818efa8846ac.
No likes for venue 4eaf31c1d3e30d4483a69386.
No likes for venue 4f436c6519834bc91f56ba8b.

No likes for venue 5166fa2be4b0b9e4740adc09.
No likes for venue 4f32611b19836c91c7d20744.
No likes for venue 4d7bdc3b34f7721e20c9ba25.
No likes for venue 54b422c6498ef4fbd3a99546.
No likes for venue 4d7c1e12da568cfa10cc5fff.
No likes for venue 4c903b376fbf224b733c528f.
No likes for venue 50e07d51e4b092e9a9889fd2.
No likes for venue 4f622cebe4b08e537e718768.
No likes for venue 5b3e2d95c4404e001c0af136.
No likes for venue 4f3282a519836c91c7ded860.
No likes for venue 4f0f4eb3e4b0e190ad5cbd93.
No likes for venue 4d93b1424f78f04d1770e8b9.
No likes for venue 4f806c2de4b0cd6f61a7eb69.
No likes for venue 4d93b1424f78f04d1770e8b9.
No likes for venue 4f806c2de4b0cd6f61a7eb69.
No likes for venue 5112f7fbe4b0138635017b01.
No likes for venue 4f322e0f19836c91c7be03e8.
No likes for venue 4f32934419836c91c7e52d5e.
No likes for venue 533c4c86498ee1398ca52db8.
No likes for venue 4f32026519833175d60951c5.
No likes for venue 4f3242c419836c91c7c617a6.
No likes for venue 4e81cc4c30f856c1923ca6f8.
No likes for venue 4f32258c19836c91c7babd4b.
No likes for venue 50b3c9bbe4b0dabb59ab643c.
No likes for venue 4ba2a3ddf964a520c30b38e3.
No likes for venue 4f32197019836c91c7b5c3b2.
No likes for venue 4db0ffd5f7b1bd003ad4977b.
No likes for venue 578175ef498edde585507206.
No likes for venue 4f327dac19836c91c7dcf0f3.
No likes for venue 4f7cfa04e4b030806006665c.
No likes for venue 4f3274c219836c91c7d993b9.
No likes for venue 4f3277b619836c91c7daaf86.
No likes for venue 4f43722719834bc91f56e790.
No likes for venue 58b1d69f34935540dcbd3868.
No likes for venue 4f32b3f319836c91c7f1690a.
No likes for venue 4f3227a419836c91c7bb91d7.
No likes for venue 4fa5ec07e4b0752c69cdf8ff.
No likes for venue 4e3b527eae6045423649806d.
No likes for venue 500ba483e4b01d293c126d0a.
No likes for venue 4f32518919836c91c7cbf557.
No likes for venue 5065f5b6e4b0c6fb834378d4.
No likes for venue 4e4e2e0abd4101d0d7a414a4.
No likes for venue 4fe774f4e4b02e42946e1792.
No likes for venue 4f321f7b19836c91c7b8444c.
No likes for venue 4c539a86fd2ea593a832b328.
No likes for venue 4f320cd619833175d60b8979.
No likes for venue 4d38803f6eef548169444148.
No likes for venue 5cfdcc86b6eedb002ccf95d0.
No likes for venue 4f32a3b619836c91c7eb5bb8.
No likes for venue 4fc3bf01e4b058bc4903a3a5.
No likes for venue 4c77fa20df08a1cd6acdd55d.
No likes for venue 4e4e18f3bd4101d0d7a22aa4.
No likes for venue 4c116a33d41e76b0905e310d.
No likes for venue 50f3110ae4b0b237c6cc9133.
No likes for venue 4d9491ee5241a1cdd24d624b.
No likes for venue 4f440e2419836ed001920b3f.
No likes for venue 4f32474e19836c91c7c7f2e9.
No likes for venue 4bca602468f976b0045c5f83.
No likes for venue 4dda9be72271c5d36d863459.
No likes for venue 50157905e4b021abaff387eb.
No likes for venue 4d60a2c214963704bf59e894.
No likes for venue 4cc5066101fb236a8071afba.
No likes for venue 54ddc4ff498e6287694377dd.
No likes for venue 4bfd7d64f61dc9b6fb1a9fde.
No likes for venue 572c7e50498edf83df0c3747.
No likes for venue 5cfef9d6065ef5002c6f0d15.
No likes for venue 56d7d969cd107fd76a26bd93.
No likes for venue 535dd215498ea83393cbb28d.
No likes for venue 4c8919f80074199c207f2270.
No likes for venue 4e4e594fbd4101d0d7a843b5.
No likes for venue 58128c3138fa9dde7fa5d23a.
No likes for venue 54c6834e498e47f3d616bf98.
No likes for venue 58464d579e3d7734026644bc.
No likes for venue 5905eb39acc5f543b15d99d5.
No likes for venue 4f3220b019836c91c7b8c698.
No likes for venue 4f327a3719836c91c7dba335.
No likes for venue 4d9501e629352d43be49dec1.
No likes for venue 4f328c9419836c91c7e2a334.
No likes for venue 4e402e9bd22d102e8564cfc0.
No likes for venue 4f32617f19836c91c7d22f22.
No likes for venue 4c9d24ab9975a143bfd938cf.
No likes for venue 4e46afe3fa76a07fde5cd1b2.
No likes for venue 522e1dc611d25e98528453c5.
No likes for venue 4e4e2624bd4101d0d7a365d3.
No likes for venue 4d72d0ea4ab5224bcc64c597.
No likes for venue 4f3262cd19836c91c7d2b185.
No likes for venue 4f32054419833175d60a67d0.
No likes for venue 4e4e2df1bd4101d0d7a41228.
No likes for venue 4f32366319836c91c7c13a57.
No likes for venue 4c2e6689213c2d7f8a1f2f5d.
No likes for venue 5c9c903906fb60002c5d97b3.
No likes for venue 56b87801498e123dce584509.
No likes for venue 4dfe31652271043ca80929a2.
No likes for venue 4cd7486a8e5b6a3141d275ac.
No likes for venue 524b7a09498ed08ed444a71d.
No likes for venue 510d8cfce4b0be8b385ba591.
No likes for venue 4de156e8d22d2a4ecdab3e40.
No likes for venue 4f32504619836c91c7cb7745.
No likes for venue 4d881faf3acc6dcbc1ad011c.
No likes for venue 4f3220c019836c91c7b8cc9d.
No likes for venue 4f325a4519836c91c7cf5b48.
No likes for venue 4f325bac19836c91c7cfe7e0.
No likes for venue 4dfdf37a7d8b30508019cfe7.
No likes for venue 4e4e2df7bd4101d0d7a412c7.
No likes for venue 4f0b7646e4b0260f5cd5ec1b.
No likes for venue 4f326a6a19836c91c7d5a0d5.
No likes for venue 4d8b93a9d85f3704523218dc.
No likes for venue 4e4e2df0bd4101d0d7a41207.
No likes for venue 57004176498e5d3c4f8e0a65.
No likes for venue 4f32107319833175d60cf3f7.
No likes for venue 5256b0a411d2156e3fcd1960.
No likes for venue 4f3293b119836c91c7e559b6.
No likes for venue 4f3243fc19836c91c7c695e6.
No likes for venue 4cec546cf368b1f755b574f7.
No likes for venue 4f325f2719836c91c7d142a7.
No likes for venue 513934c7e4b054473463e56b.
No likes for venue 4c75ca91613f76b03a32a82a.
No likes for venue 4f45319c19836ed0019934ef.
No likes for venue 4e4e2fd5bd4101d0d7a44700.
No likes for venue 4e821678d22dc33e80b25d00.
No likes for venue 4bc248e74cdfc9b6b9e99521.
No likes for venue 4f997b4ad4f21823bb1f4da6.
No likes for venue 4f321b3119836c91c7b67b5c.
No likes for venue 4bd46a2129eb9c74a17e91e1.
No likes for venue 59125e219ad60e199788c375.
No likes for venue 4f32379519836c91c7c1ad62.
No likes for venue 4f32521819836c91c7cc2e81.
No likes for venue 4f320edf19833175d60c56b3.
No likes for venue 4f321c2b19836c91c7b6e216.
No likes for venue 4f4fc483e4b083dcf2fe32d9.
No likes for venue 4f4346eb19834bc91f55aa85.
No likes for venue 5532a7a6498e944a9f22f9c2.
No likes for venue 51bdde05498edd1e301d5d5b.
No likes for venue 4f32644e19836c91c7d3462a.
No likes for venue 4f8b0ec1e4b0ab0c1c85ad71.
No likes for venue 4f32357419836c91c7c0e161.
No likes for venue 546647a0498e241bb623a1f1.
No likes for venue 51d20e12498eaadd679d665e.
No likes for venue 4f0a3335e4b071c57756e5f8.
No likes for venue 4f3216b219836c91c7b4a117.
No likes for venue 4f32571519836c91c7ce1b22.
No likes for venue 4b904e7bf964a520ff8233e3.
No likes for venue 4f3d2676e4b04080abb7c06a.
No likes for venue 4bb1463cf964a520dd883ce3.
No likes for venue 5830dc103f5a5c17ffcadf2e.
No likes for venue 4f3218dc19836c91c7b58741.
No likes for venue 58e55da380e1af764828f6c3.
No likes for venue 4f43b5e019834bc91f5868ca.
No likes for venue 4d45f4c10349224b9d9a094f.
No likes for venue 54fe394c498e63b425adf85d.
No likes for venue 4f44cbc619836ed00196907e.
No likes for venue 4ee7dffdf7905d4f655f1a52.
No likes for venue 4f32847e19836c91c7df8edc.
No likes for venue 50ca93bae4b01c69d75bc203.
No likes for venue 59b33b111acf1175647fa261.
No likes for venue 4f326d6b19836c91c7d6cadb.
No likes for venue 4c8ed3c7a8de224b09e82a01.
No likes for venue 4f32467919836c91c7c79b41.
No likes for venue 4e5c07662271b7fb295fade5.
No likes for venue 4f32413819836c91c7c57bcc.
No likes for venue 4ef2a7758b81368cf89cadd3.
No likes for venue 4f45371419836ed0019953c3.
No likes for venue 4f329d2619836c91c7e8e765.
No likes for venue 4e4e2ef8bd4101d0d7a42f83.
No likes for venue 4f322dd019836c91c7bdecb7.
No likes for venue 4f3239c119836c91c7c28aea.
No likes for venue 4f3219bf19836c91c7b5e335.
No likes for venue 59936c2eaa6c95727bf3ab97.
No likes for venue 4f321d3019836c91c7b74fa2.
No likes for venue 4f32b56019836c91c7f1f285.
No likes for venue 4f3233c519836c91c7c0375e.
No likes for venue 4f328b5c19836c91c7e22cad.
No likes for venue 4f326b5419836c91c7d5fabe.
No likes for venue 4f32594119836c91c7cef205.
No likes for venue 5d079e0871f3e800239c396a.
No likes for venue 51d5f4ec498ee77b08b1c588.
No likes for venue 4fc40435e4b058bc491fcafc.
No likes for venue 4fce290ae4b082b05d268345.
No likes for venue 4f997b54d4f21823bb1f51c6.
No likes for venue 4f329c3719836c91c7e88c2e.

                   Venue ID   User ID  Rating
0  5710dcf0498e87c71d20b69d    515900       1
1  5710dcf0498e87c71d20b69d    229698       1
2  5710dcf0498e87c71d20b69d  51646211       1
3  4b5dde6ef964a520fa7029e3  50475374       1
4  4b5dde6ef964a520fa7029e3   2967333       1

In [18]:
chi_venue_likes.shape

(1667, 3)

Use one-hot encoding on categories and load into new df (copy venue df first – 1he)

In [19]:
# one hot encoding
chi_onehot_cat = pd.get_dummies(chi_venues[['Venue Category']], prefix="", prefix_sep="")
chi_onehot_cat.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [20]:
chi_onehot_cat.shape

(1254, 106)

In [21]:
# add venue ID column back to dataframe
chi_onehot_cat['Venue ID'] = chi_venues['Venue ID']
chi_onehot_cat.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,...,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint,Venue ID
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5710dcf0498e87c71d20b69d
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4b5dde6ef964a520fa7029e3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5a2071ca47f876422319a3b6
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4c117c7e17002d7f4755e609
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,51cf7f97498ee7d50a505393

In [22]:
chi_onehot_cat.shape

(1254, 107)

In [23]:
# move venue ID to the first column
fixed_columns = [chi_onehot_cat.columns[-1]] + list(chi_onehot_cat.columns[:-1])
chi_onehot_cat = chi_onehot_cat[fixed_columns]
chi_onehot_cat.head()

,Venue ID,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
chi_onehot_cat.shape

(1254, 107)

Use one-hot encoding on neighborhoods

In [25]:
# one hot encoding
chi_onehot_nhood = pd.get_dummies(chi_venues[['Neighborhood']], prefix="", prefix_sep="")
chi_onehot_nhood.head()

,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,Beverly,...,Washington Heights,Washington Park,West Elsdon,West Englewood,West Garfield Park,West Lawn,West Pullman,West Ridge,West Town,Woodlawn
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# add venue ID column back to dataframe
chi_onehot_nhood['Venue ID'] = chi_venues['Venue ID']
# move venue ID to the first column
fixed_columns = [chi_onehot_nhood.columns[-1]] + list(chi_onehot_nhood.columns[:-1])
chi_onehot_nhood = chi_onehot_nhood[fixed_columns]

chi_onehot_nhood.head()

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Washington Heights,Washington Park,West Elsdon,West Englewood,West Garfield Park,West Lawn,West Pullman,West Ridge,West Town,Woodlawn
0,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
chi_onehot_nhood.shape

(1254, 73)

Combine one-hot encoding dfs for categories and neighborhoods

In [28]:
chi_onehot_all = pd.merge(chi_onehot_nhood, chi_onehot_cat, on='Venue ID', how='outer')
chi_onehot_all.head()

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
chi_onehot_all.shape

(1376, 179)

In [61]:
 # find users who have liked more than 3 venues
chi_venue_likes.groupby('User ID').filter(lambda x: len(x) > 5)

                      Venue ID    User ID  Rating
13    561155b9498ec959cc2c09f1   38216300       1
55    4d28e38b8292236a88ca1dbb   38216300       1
64    4ede9e6ee5faee9991758cb2   18372438       1
68    4fdd0058e4b0ec5a8f166067   18372438       1
75    4b35afb9f964a5208a2e25e3  124547371       1
97    4ae23773f964a520ea8b21e3  124547371       1
161   56aad837498ebfb7f15d8c40    3462946       1
162   56aad837498ebfb7f15d8c40   18469680       1
167   5b7c5b461fa763002c85e395     589793       1
171   4a6ca0e5f964a5200ed11fe3     589793       1
174   5786fed8498e6ad5339dc258    9785662       1
176   4a5652f3f964a520feb41fe3     589793       1
177   54b84a42498ef55d202d374f    3462946       1
178   54b84a42498ef55d202d374f     589793       1
180   4ad87465f964a5207f1121e3    3462946       1
184   4a761079f964a52017e21fe3   18469680       1
191   4b170c41f964a52076c123e3   18469680       1
204   4ae33f2cf964a520469221e3    3462946       1
205   4ae33f2cf964a520469221e3      22744       1
207   51b22771498eaa2baa7963b7   18469680       1
219   5511853c498e89b927e26487  418573148       1
221   5b2c0a47916bc10039f8e072     589793       1
224   4a4d5480f964a520e3ad1fe3     134989       1
225   4a4d5480f964a520e3ad1fe3      22744       1
340   4c6899d9428a0f47867e001b      81593       1
360   4cdb008422bd721ec6f2f247      81593       1
394   4b59fe5ef964a5205ba628e3      81593       1
511   5b5fd51f1ffe97002c93f8e4   18469680       1
534   4df6cd7e63650892a289ab23   38216300       1
541   4c24e254a852c928f5dae36c   38216300       1
...                        ...        ...     ...
1441  4b96e752f964a520b3ec34e3    1577146       1
1445  4f91bd9b7beb818efa883f8e    1577146       1
1450  4d9fce0258c2224b94374579    1577146       1
1469  4be4c0542468c9287d48ff42   32365467       1
1470  4f32133019833175d60e0642   32365467       1
1473  4f32935319836c91c7e533f8   32365467       1
1475  4d72d103ff6ba35d706e748a   32365467       1
1481  4b702f51f964a520910a2de3   32365467       1
1491  4c205fd28b3aa5932de39e5f   84451261       1
1507  4f1f48a5e4b053ed99dddac1   84451261       1
1514  4c4f192e9efabe9a3b902d6b   84451261       1
1522  4b9c1e2ef964a520f04b36e3   32365467       1
1532  5b2d3fd3492814002c9e9db0   52673550       1
1549  59f8cfc3f62f2b510a71d83d   52673550       1
1550  5c569245e7065500256d403d   52673550       1
1554  4bfebdd0369476b095c78c1f   52673550       1
1559  4c4c6f1d5609c9b628538792  455253925       1
1582  55f072b1498ec66b9ad12833   84451261       1
1585  5ba8cecb033693002c6c407f  124547371       1
1588  53f00e47498e649a7c0ca127  124547371       1
1598  5054c1dbe4b0de8bee2898bc    3462946       1
1608  5a887abaf8cbd46ab8e02b27  124547371       1
1617  4ac79839f964a5204fb820e3  124547371       1
1620  56c4d7b0cd102e190a0c6951    3462946       1
1624  4e92128102d5dcbe60036479    3462946       1
1636  5aebadb47e4b4e0031e37d81     589793       1
1638  4b48c7bff964a520a95626e3  124547371       1
1647  5aeb579c8ad62e002c8cd420    3462946       1
1650  4b1dc037f964a520cf1424e3    3462946       1
1653  4b46b299f964a520f32626e3    3462946       1

[130 rows x 3 columns]

Pick a test user.
Save test user ratings from user ratings to new df.

In [31]:
test_user_ratings = chi_venue_likes[chi_venue_likes['User ID'] == '30596207'].drop('User ID', 1)
test_user_ratings

                      Venue ID  Rating
173   5786fed8498e6ad5339dc258       1
339   4c6899d9428a0f47867e001b       1
1628  4c8cedadb118b7131c921d01       1
1660  56f1adc5498eeb31c9ecfdef       1

In [32]:
#Resetting the index to avoid future issues
test_user_ratings = test_user_ratings.reset_index(drop=True)

In [33]:
test_user_ratings

                   Venue ID  Rating
0  5786fed8498e6ad5339dc258       1
1  4c6899d9428a0f47867e001b       1
2  4c8cedadb118b7131c921d01       1
3  56f1adc5498eeb31c9ecfdef       1

Create new venue df of those the test user has rated (based on one-hot encoding df).

In [34]:
test_user_likes =  chi_onehot_all[chi_onehot_all['Venue ID'].isin(test_user_ratings['Venue ID'].tolist())]
test_user_likes

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
135,5786fed8498e6ad5339dc258,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218,4c6899d9428a0f47867e001b,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1360,4c8cedadb118b7131c921d01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1373,56f1adc5498eeb31c9ecfdef,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Drop unnecessary columns

In [35]:
#Resetting the index to avoid future issues
test_user_likes = test_user_likes.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
test_user_features = test_user_likes.drop('Venue ID', 1)
test_user_features

,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,Beverly,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Create vector of test user’s ratings

In [36]:
test_user_ratings['Rating']

0    1
1    1
2    1
3    1
Name: Rating, dtype: int64

Use dot product of vector and test user’s ratings to build test user profile

In [37]:
#Dot produt to get weights
userProfile = test_user_features.transpose().dot(test_user_ratings['Rating'])
#The user profile
userProfile.shape

(178,)

Let's start by extracting the category table from the original dataframe:

In [38]:
#Now let's get the features of every restaurant in our original dataframe
features_df = chi_onehot_all.set_index(chi_onehot_all['Venue ID'])
features_df.head()

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Drop unnecessary columns from 1he df

In [39]:
#And drop the unnecessary information
features_df = features_df.drop('Venue ID', 1)
features_df.head()

,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,Beverly,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

With the input's profile and the complete list of venues and their categories/neighborhoods in hand, we're going to take the weighted average of every venue based on the input profile and recommend the top ten restuarants that most satisfy it.

In [40]:
#Multiply the features by the weights and then take the weighted average
recommendationTable_df = ((features_df*userProfile).sum(axis=1))/(userProfile.sum())
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

Venue ID
56f1adc5498eeb31c9ecfdef    0.500
50983e68f31c409be941bbe4    0.375
5786fed8498e6ad5339dc258    0.375
5388b07c498ea2dd8e2d676c    0.375
4c8cedadb118b7131c921d01    0.375
dtype: float64

In [41]:
#The final recommendation table
recommended_venues = chi_venues.loc[chi_venues['Venue ID'].isin(recommendationTable_df.head(5).keys())]
recommended_venues

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
135,Lincoln Square,La Boulangerie,5786fed8498e6ad5339dc258,41.965011,-87.678553,436,Bakery
214,Lincoln Park,Le Pain Quotidien,5388b07c498ea2dd8e2d676c,41.918250,-87.653660,350,Bakery
227,Lincoln Park,interurban cafe & pastry,50983e68f31c409be941bbe4,41.918481,-87.649186,212,Bakery
1238,Edgewater,Vincent,4c8cedadb118b7131c921d01,41.979804,-87.667818,404,New American Restaurant
1251,Edgewater,Defloured Bakery,56f1adc5498eeb31c9ecfdef,41.979801,-87.668015,408,Bakery

Add suggested ratings

In [42]:
recommended_ratings = pd.merge(recommended_venues, recommendationTable_df.rename('Rating'), left_on='Venue ID', right_index=True)
recommended_ratings

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category,Rating
135,Lincoln Square,La Boulangerie,5786fed8498e6ad5339dc258,41.965011,-87.678553,436,Bakery,0.375
214,Lincoln Park,Le Pain Quotidien,5388b07c498ea2dd8e2d676c,41.918250,-87.653660,350,Bakery,0.375
227,Lincoln Park,interurban cafe & pastry,50983e68f31c409be941bbe4,41.918481,-87.649186,212,Bakery,0.375
1238,Edgewater,Vincent,4c8cedadb118b7131c921d01,41.979804,-87.667818,404,New American Restaurant,0.375
1251,Edgewater,Defloured Bakery,56f1adc5498eeb31c9ecfdef,41.979801,-87.668015,408,Bakery,0.500

Drop unnecessary columns

In [43]:
recommended_venues = recommended_ratings.drop('Venue ID', 1).drop('Distance', 1)
recommended_venues

,Neighborhood,Venue,Venue Latitude,Venue Longitude,Venue Category,Rating
135,Lincoln Square,La Boulangerie,41.965011,-87.678553,Bakery,0.375
214,Lincoln Park,Le Pain Quotidien,41.918250,-87.653660,Bakery,0.375
227,Lincoln Park,interurban cafe & pastry,41.918481,-87.649186,Bakery,0.375
1238,Edgewater,Vincent,41.979804,-87.667818,New American Restaurant,0.375
1251,Edgewater,Defloured Bakery,41.979801,-87.668015,Bakery,0.500

Plot the top 5

In [44]:
# get coordinates for Chicago
address = 'Chicago, IL'

geolocator = Nominatim(user_agent="chi_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Chicago are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Chicago are 41.8755616, -87.6244212.

In [45]:
# create map
recommendation_map = folium.Map(location=[latitude, longitude], zoom_start=11)

In [46]:
# add markers to the map
for lat, lon, name, cat, rat in zip(recommended_venues['Venue Latitude'], recommended_venues['Venue Longitude'], recommended_venues['Venue'], recommended_venues['Venue Category'], recommended_venues['Rating']):
    label = folium.Popup(str(name) + ' (' + str(cat) + ', ' + str(rat) + ')', parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        fill=True,
        fill_opacity=0.7).add_to(recommendation_map)
       
recommendation_map

Get recommendations for a different user

In [47]:
test_user_ratings = chi_venue_likes[chi_venue_likes['User ID'] == '26541006'].drop('User ID', 1)
test_user_ratings

                      Venue ID  Rating
33    4b08e160f964a520171323e3       1
461   4df7f3f118a801cd9f119204       1
522   4aef2171f964a520ded521e3       1
614   593478c3123a1963f50fc66f       1
1665  4b0c18f9f964a520cf3623e3       1

In [48]:
#Resetting the index to avoid future issues
test_user_ratings = test_user_ratings.reset_index(drop=True)
test_user_ratings

                   Venue ID  Rating
0  4b08e160f964a520171323e3       1
1  4df7f3f118a801cd9f119204       1
2  4aef2171f964a520ded521e3       1
3  593478c3123a1963f50fc66f       1
4  4b0c18f9f964a520cf3623e3       1

In [49]:
test_user_likes =  chi_onehot_all[chi_onehot_all['Venue ID'].isin(test_user_ratings['Venue ID'].tolist())]
test_user_likes

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
30,4b08e160f964a520171323e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,4df7f3f118a801cd9f119204,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
291,4aef2171f964a520ded521e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
363,593478c3123a1963f50fc66f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1375,4b0c18f9f964a520cf3623e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
#Resetting the index to avoid future issues
test_user_likes = test_user_likes.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
test_user_features = test_user_likes.drop('Venue ID', 1)
test_user_features

,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,Beverly,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
test_user_ratings['Rating']

0    1
1    1
2    1
3    1
4    1
Name: Rating, dtype: int64

In [52]:
#Dot produt to get weights
userProfile = test_user_features.transpose().dot(test_user_ratings['Rating'])
#The user profile
userProfile.shape

(178,)

In [53]:
#Now let's get the features of every restaurant in our original dataframe
features_df = chi_onehot_all.set_index(chi_onehot_all['Venue ID'])
features_df.head()

,Venue ID,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
#And drop the unnecessary information
features_df = features_df.drop('Venue ID', 1)
features_df.head()

,Albany Park,Archer Heights,Armour Square,Ashburn,Auburn Gresham,Austin,Avalon Park,Avondale,Belmont Cragin,Beverly,...,Taiwanese Restaurant,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
#Multiply the features by the weights and then take the weighted average
recommendationTable_df = ((features_df*userProfile).sum(axis=1))/(userProfile.sum())
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

Venue ID
4b59c45df964a520fa9628e3    0.4
56316c6a498ebdd0e0e529e4    0.4
4aff74bff964a520c43822e3    0.4
4e026a67e4cdbd9a51745782    0.4
593478c3123a1963f50fc66f    0.3
dtype: float64

In [56]:
#The final recommendation table
recommended_venues = chi_venues.loc[chi_venues['Venue ID'].isin(recommendationTable_df.head(5).keys())]
recommended_venues

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
232,Near North Side,Happy Camper,56316c6a498ebdd0e0e529e4,41.904306,-87.634370,486,Pizza Place
233,Near North Side,Lou Malnati's Pizzeria,4e026a67e4cdbd9a51745782,41.902591,-87.628703,479,Pizza Place
239,Near North Side,Domino's Pizza,4b59c45df964a520fa9628e3,41.903763,-87.633175,419,Pizza Place
263,Near North Side,Pizano's Pizza & Pasta,4aff74bff964a520c43822e3,41.898733,-87.628264,443,Pizza Place
351,Portage Park,Easy Street Pizza & Beer Garden,593478c3123a1963f50fc66f,41.949234,-87.766956,88,Pizza Place

In [57]:
recommended_ratings = pd.merge(recommended_venues, recommendationTable_df.rename('Rating'), left_on='Venue ID', right_index=True)
recommended_ratings

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category,Rating
232,Near North Side,Happy Camper,56316c6a498ebdd0e0e529e4,41.904306,-87.634370,486,Pizza Place,0.4
233,Near North Side,Lou Malnati's Pizzeria,4e026a67e4cdbd9a51745782,41.902591,-87.628703,479,Pizza Place,0.4
239,Near North Side,Domino's Pizza,4b59c45df964a520fa9628e3,41.903763,-87.633175,419,Pizza Place,0.4
263,Near North Side,Pizano's Pizza & Pasta,4aff74bff964a520c43822e3,41.898733,-87.628264,443,Pizza Place,0.4
351,Portage Park,Easy Street Pizza & Beer Garden,593478c3123a1963f50fc66f,41.949234,-87.766956,88,Pizza Place,0.3

In [58]:
recommended_venues = recommended_ratings.drop('Venue ID', 1).drop('Distance', 1)
recommended_venues

,Neighborhood,Venue,Venue Latitude,Venue Longitude,Venue Category,Rating
232,Near North Side,Happy Camper,41.904306,-87.634370,Pizza Place,0.4
233,Near North Side,Lou Malnati's Pizzeria,41.902591,-87.628703,Pizza Place,0.4
239,Near North Side,Domino's Pizza,41.903763,-87.633175,Pizza Place,0.4
263,Near North Side,Pizano's Pizza & Pasta,41.898733,-87.628264,Pizza Place,0.4
351,Portage Park,Easy Street Pizza & Beer Garden,41.949234,-87.766956,Pizza Place,0.3

In [59]:
# create map
recommendation_map = folium.Map(location=[latitude, longitude], zoom_start=11)

In [60]:
# add markers to the map
for lat, lon, name, cat, rat in zip(recommended_venues['Venue Latitude'], recommended_venues['Venue Longitude'], recommended_venues['Venue'], recommended_venues['Venue Category'], recommended_venues['Rating']):
    label = folium.Popup(str(name) + ' (' + str(cat) + ', ' + str(rat) + ')', parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        fill=True,
        fill_opacity=0.7).add_to(recommendation_map)
       
recommendation_map