Create neighborhood dataframe from Excel – neighborhood, lat, long

In [1]:
# Import pandas library using an alias
import pandas as pd
# library to handle data in a vectorized manner
import numpy as np

# library to handle JSON files
import json
# library to handle requests
import requests
# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize

# import geocoder
import geocoder
# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# map rendering library
import folium

In [2]:
df_chi_data = pd.read_excel('CCASF12010CMAP.xlsx')
df_chi_data.head()

  GEOGKEYX        GEOGNAME   LATITUDE  UNSIGNED LONGITUDE  LONGITUDE
0  GeogKey            Geog        NaN                 NaN        NaN
1        1     Rogers Park  42.016667           87.666667 -87.666667
2        2      West Ridge  42.000000           87.683333 -87.683333
3        3          Uptown  41.966667           87.666667 -87.666667
4        4  Lincoln Square  41.966667           87.683333 -87.683333

In [3]:
df_chi_data.drop([0], axis = 0, inplace=True)
df_chi_data.drop(['UNSIGNED LONGITUDE'], axis=1, inplace=True)
df_chi_data.drop(['GEOGKEYX'], axis=1, inplace=True)
df_chi_data.head()

         GEOGNAME   LATITUDE  LONGITUDE
1     Rogers Park  42.016667 -87.666667
2      West Ridge  42.000000 -87.683333
3          Uptown  41.966667 -87.666667
4  Lincoln Square  41.966667 -87.683333
5    North Center  41.950000 -87.683333

Create empty venue df – neighborhood, venue name, venue id, venue lat, venue long, distance from neighborhood center, category, price

In [4]:
df_venues = pd.DataFrame(columns=['Neighborhood','VenueName','VenueID','Latitude','Longitude','Distance','Category','Price'])
df_venues

Empty DataFrame
Columns: [Neighborhood, VenueName, VenueID, Latitude, Longitude, Distance, Category, Price]
Index: []

Loop through neighborhoods

search for venues by long/lat
use json to populate venue df

In [5]:
# define Foursquare variables
CLIENT_ID = 'CT3K4Z2AEBTWGOKQLQKZ135JJ3B44KOQTB4BMEJ4R0AXXWSD' # your Foursquare ID
CLIENT_SECRET = 'TSJKVMWFPKG2ZV4NYZQDVIR5FIYOSRICDTHHKHWSMV5JHDMZ' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [6]:
# create a function to repeat the same process to all the neighborhoods
def getNearbyVenues(names, latitudes, longitudes, radius, LIMIT, CATEGORY, INTENT):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        #print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&categoryId={}&radius={}&limit={}&intent={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            lat, 
            lng,
            VERSION,
            CATEGORY, 
            radius, 
            LIMIT, 
            INTENT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['venues']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            v['name'], 
            v['id'], 
            v['location']['lat'], 
            v['location']['lng'],  
            v['location']['distance'],  
            v['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Venue', 
                  'Venue ID', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Distance',
                  'Venue Category']
    
    return(nearby_venues)

In [7]:
chi_venues = getNearbyVenues(names=df_chi_data['GEOGNAME'],
                                   latitudes=df_chi_data['LATITUDE'],
                                   longitudes=df_chi_data['LONGITUDE'],
                                   radius=500,
                                   LIMIT=100, 
                                   CATEGORY = '4d4b7105d754a06374d81259',
                                   INTENT = 'browse'
                                  )
chi_venues.head()

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery
2,Rogers Park,Tjam Kitchen,5a2071ca47f876422319a3b6,42.019310,-87.666920,294,Restaurant
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery

In [8]:
chi_venues.shape

(527, 7)

Remove chain restaurants (those with more than 5 locations)

In [9]:
chi_venues_grouped = chi_venues.groupby('Venue').filter(lambda x: len(x) > 5)
chi_venues_grouped

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
90,Uptown,Subway,4b5b3875f964a52031ec28e3,41.965282,-87.661418,461,Sandwich Place
121,Lincoln Square,Starbucks,4aa3dfaaf964a520384420e3,41.964799,-87.685861,294,Coffee Shop
128,Lincoln Square,Potbelly Sandwich Shop,49f4c21ff964a5204b6b1fe3,41.966985,-87.687272,327,Sandwich Place
143,Lincoln Square,Dunkin',4c52d9412543a593290bfc85,41.966271,-87.688664,443,Donut Shop
166,North Center,Starbucks,54273f56498e550c0584a8bb,41.947936,-87.688509,486,Coffee Shop
169,North Center,Potbelly Sandwich Shop,542eed7c498e15b89f63ad00,41.948428,-87.688678,475,Sandwich Place
179,Lake View,Dunkin',4b5b6256f964a520aef928e3,41.954298,-87.650165,478,Donut Shop
180,Lake View,Dunkin',532488dc498e89b38c11821c,41.947083,-87.653812,452,Donut Shop
185,Lake View,Subway,4bd4d3736798ef3bbf80628d,41.947220,-87.653939,449,Sandwich Place
202,Lake View,Subway,4a42e581f964a5205da61fe3,41.951745,-87.649436,199,Sandwich Place
209,Lincoln Park,Starbucks,4aca1c81f964a5206cc020e3,41.917937,-87.653412,316,Coffee Shop
229,Lincoln Park,Subway,4aa6a251f964a520714a20e3,41.918408,-87.648531,228,Sandwich Place
232,Lincoln Park,Subway,4acc92c3f964a520ffc820e3,41.913294,-87.652856,443,Sandwich Place
240,Lincoln Park,Dunkin',5bdda908e1f228002cc5062d,41.912953,-87.653019,483,Café
250,Near North Side,Starbucks,4aeed96ff964a5205fd421e3,41.903826,-87.630157,500,Coffee Shop
253,Near North Side,Starbucks,4a8ae9baf964a520d10a20e3,41.896425,-87.635871,450,Coffee Shop
273,Near North Side,Starbucks,4b1ecf4cf964a520d51f24e3,41.899046,-87.628279,432,Coffee Shop
280,Near North Side,Starbucks,4a993362f964a5207f2d20e3,41.897660,-87.628426,482,Coffee Shop
282,Near North Side,Dunkin',4e1473be81dc308b5c664f9c,41.896389,-87.636172,465,Donut Shop
354,West Town,Dunkin',50ec38e0e4b0fccc7ed3b1c1,41.902949,-87.680228,417,Donut Shop
357,West Town,Subway,4c63487179d1e21e9c5ed815,41.902013,-87.686931,372,Sandwich Place
364,West Town,Dunkin',5395eb69498e6a4f58a25ecb,41.896302,-87.686400,483,Donut Shop
371,Near West Side,Starbucks,49e9ebf7f964a5200d661fe3,41.869454,-87.663032,432,Coffee Shop
372,Near West Side,Dunkin',4b4ca514f964a520a3b826e3,41.866441,-87.668294,137,Donut Shop
380,Near West Side,Potbelly Sandwich Shop,4b0304c9f964a520f64b22e3,41.869183,-87.663916,361,Sandwich Place
417,The Loop,Starbucks,4b10054af964a520946723e3,41.885902,-87.628860,468,Coffee Shop
418,The Loop,Potbelly Sandwich Shop,4b4388d5f964a520a3e225e3,41.880267,-87.629620,459,Sandwich Place
427,The Loop,Starbucks,50645e02e4b02acf5a4c218f,41.884298,-87.633851,115,Coffee Shop
428,The Loop,Starbucks,4a9c455ef964a520a23620e3,41.881991,-87.639012,493,Coffee Shop
429,The Loop,Starbucks,4b337f77f964a520031a25e3,41.884324,-87.637207,339,Coffee Shop
432,The Loop,Potbelly Sandwich Shop,4b54f453f964a52008d527e3,41.885610,-87.628209,494,Sandwich Place
433,The Loop,Starbucks,4cc5d54d306e224bf95ea56c,41.884329,-87.629886,306,Coffee Shop
437,The Loop,Dunkin',4b478e5bf964a520673526e3,41.883047,-87.634617,111,Donut Shop
438,The Loop,Starbucks,4a6cf09ff964a5201fd21fe3,41.880790,-87.632140,299,Coffee Shop
446,The Loop,Starbucks,4b82eaa6f964a52008ed30e3,41.885602,-87.632652,258,Coffee Shop
447,The Loop,Starbucks,4b182fd6f964a52089ce23e3,41.882140,-87.630520,268,Coffee Shop
450,The Loop,Potbelly Sandwich Shop,4aef2ef1f964a5205cd621e3,41.884263,-87.635074,177,Sandwich Place
452,The Loop,Starbucks,4b969aa8f964a52006d834e3,41.883350,-87.627362,494,Coffee Shop
455,The Loop,Dunkin',4e4c36afbd41b9fca43175d3,41.883863,-87.634129,88,Donut Shop
461,The Loop,Dunkin',4b1e75e8f964a520301a24e3,41.879249,-87.634008,458,Donut Shop
471,Near South Side,Starbucks,4df653bb45dd4e269349c9c0,41.850844,-87.618978,213,Coffee Shop
490,Near South Side,Dunkin',5c90babe16fa04002cca044d,41.851233,-87.617034,140,Café
524,Edgewater,Dunkin',58037f78d67c87b09685a79f,41.983680,-87.669020,198,Donut Shop

In [10]:
chi_venues = chi_venues[chi_venues.Venue != "Dunkin'"]
chi_venues = chi_venues[chi_venues.Venue != "Potbelly Sandwich Shop"]
chi_venues = chi_venues[chi_venues.Venue != "Starbucks"]
chi_venues = chi_venues[chi_venues.Venue != "Subway"]
chi_venues.shape

(484, 7)

Remove duplicates from venue df based on distance from neighborhood center (maybe sort by distance then keep first)

In [11]:
chi_venues.duplicated('Venue ID')
chi_venues_duplicates = chi_venues[chi_venues.duplicated(['Venue ID'])]
 
print("Duplicate venues are:", chi_venues_duplicates, sep='\n')

Duplicate venues are:
Empty DataFrame
Columns: [Neighborhood, Venue, Venue ID, Venue Latitude, Venue Longitude, Distance, Venue Category]
Index: []

Reset index after removing rows

In [15]:
chi_venues = chi_venues.reset_index(drop=True)
chi_venues.head()

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
0,Rogers Park,Charmers Cafe,5710dcf0498e87c71d20b69d,42.016164,-87.668250,142,Café
1,Rogers Park,Caribbean American Bakery,4b5dde6ef964a520fa7029e3,42.019371,-87.669705,392,Bakery
2,Rogers Park,Tjam Kitchen,5a2071ca47f876422319a3b6,42.019310,-87.666920,294,Restaurant
3,Rogers Park,Jarvis Grill,4c117c7e17002d7f4755e609,42.015989,-87.668880,198,Fast Food Restaurant
4,Rogers Park,Jamaican Bakery,51cf7f97498ee7d50a505393,42.018398,-87.669414,297,Bakery

In [12]:
# how many venues for each neighborhood
chi_venues.groupby('Neighborhood').count()

,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
Neighborhood,,,,,,
Edgewater,31,31,31,31,31,31
Humboldt Park,15,15,15,15,15,15
Lake View,26,26,26,26,26,26
Lincoln Park,37,37,37,37,37,37
Lincoln Square,43,43,43,43,43,43
Logan Square,30,30,30,30,30,30
Lower West Side,23,23,23,23,23,23
Near North Side,45,45,45,45,45,45
Near South Side,30,30,30,30,30,30
Near West Side,16,16,16,16,16,16
North Center,6,6,6,6,6,6
Rogers Park,27,27,27,27,27,27
The Loop,35,35,35,35,35,35
Uptown,46,46,46,46,46,46
West Ridge,46,46,46,46,46,46
West Town,28,28,28,28,28,28

In [13]:
# how many unique categories
print('There are {} uniques categories.'.format(len(chi_venues['Venue Category'].unique())))

There are 88 uniques categories.

In [65]:
chi_venues['Venue ID'].isnull().sum().sum()

0

In [68]:
chi_venues.to_excel('ChicagoVenues.xlsx')

Use one-hot encoding on categories and load into new df (copy venue df first – 1he)

In [71]:
# one hot encoding
chi_onehot_cat = pd.get_dummies(chi_venues[['Venue Category']], prefix="", prefix_sep="")
chi_onehot_cat.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Bar,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
chi_onehot_cat.shape

(484, 88)

In [73]:
# add venue ID column back to dataframe
chi_onehot_cat['Venue ID'] = chi_venues['Venue ID']
chi_onehot_cat.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Bar,...,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint,Venue ID
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5710dcf0498e87c71d20b69d
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4b5dde6ef964a520fa7029e3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5a2071ca47f876422319a3b6
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4c117c7e17002d7f4755e609
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,51cf7f97498ee7d50a505393

In [74]:
chi_onehot_cat.shape

(484, 89)

In [75]:
# move venue ID to the first column
fixed_columns = [chi_onehot_cat.columns[-1]] + list(chi_onehot_cat.columns[:-1])
chi_onehot_cat = chi_onehot_cat[fixed_columns]
chi_onehot_cat.head()

,Venue ID,Afghan Restaurant,African Restaurant,American Restaurant,Arcade,Argentinian Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [76]:
chi_onehot_cat.shape

(484, 89)

In [77]:
chi_onehot_cat.to_excel('ChiCatOneHot.xlsx')

In [78]:
chi_onehot_cat['Venue ID'].isnull().sum().sum()

0

In [79]:
null_cat = chi_onehot_cat[chi_onehot_cat['Venue ID'].isnull()]
null_cat

Empty DataFrame
Columns: [Venue ID, Afghan Restaurant, African Restaurant, American Restaurant, Arcade, Argentinian Restaurant, Asian Restaurant, BBQ Joint, Bagel Shop, Bakery, Bar, Bookstore, Breakfast Spot, Bubble Tea Shop, Burger Joint, Burmese Restaurant, Burrito Place, Butcher, Cafeteria, Café, Cajun / Creole Restaurant, Caribbean Restaurant, Chinese Restaurant, Chocolate Shop, Coffee Shop, Cuban Restaurant, Deli / Bodega, Dessert Shop, Diner, Eastern European Restaurant, Fast Food Restaurant, Food, Food Court, Food Stand, Food Truck, French Restaurant, Fried Chicken Joint, Frozen Yogurt Shop, Gastropub, General Entertainment, German Restaurant, Greek Restaurant, Halal Restaurant, Hot Dog Joint, Ice Cream Shop, Indian Restaurant, Italian Restaurant, Japanese Restaurant, Juice Bar, Korean Restaurant, Latin American Restaurant, Mac & Cheese Joint, Market, Mediterranean Restaurant, Mexican Restaurant, Middle Eastern Restaurant, Molecular Gastronomy Restaurant, Movie Theater, New American Restaurant, North Indian Restaurant, Pakistani Restaurant, Pastry Shop, Pie Shop, Pizza Place, Poke Place, Pop-Up Shop, Portuguese Restaurant, Pub, Ramen Restaurant, Restaurant, Salad Place, Sandwich Place, Seafood Restaurant, Snack Place, South American Restaurant, Southern / Soul Food Restaurant, Sports Bar, Steakhouse, Sushi Restaurant, Taco Place, Tapas Restaurant, Tea Room, Thai Restaurant, Theme Restaurant, Ukrainian Restaurant, Vegetarian / Vegan Restaurant, Vietnamese Restaurant, Whisky Bar, Wings Joint]
Index: []

[0 rows x 89 columns]

In [70]:
chi_onehot_cat.dropna(axis='index', how='any', subset=['Venue ID'], inplace=True)
chi_onehot_cat.shape

(443, 89)

Use one-hot encoding on neighborhoods

In [18]:
# one hot encoding
chi_onehot_nhood = pd.get_dummies(chi_venues[['Neighborhood']], prefix="", prefix_sep="")
chi_onehot_nhood.head()

,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,Near West Side,North Center,Rogers Park,The Loop,Uptown,West Ridge,West Town
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [19]:
# add venue ID column back to dataframe
chi_onehot_nhood['Venue ID'] = chi_venues['Venue ID']
# move venue ID to the first column
fixed_columns = [chi_onehot_nhood.columns[-1]] + list(chi_onehot_nhood.columns[:-1])
chi_onehot_nhood = chi_onehot_nhood[fixed_columns]

chi_onehot_nhood.head()

,Venue ID,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,Near West Side,North Center,Rogers Park,The Loop,Uptown,West Ridge,West Town
0,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [59]:
chi_onehot_nhood.shape

(484, 17)

Combine one-hot encoding dfs for categories and neighborhoods

In [80]:
chi_onehot_all = pd.merge(chi_onehot_nhood, chi_onehot_cat, on='Venue ID', how='outer')
chi_onehot_all.head()

,Venue ID,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
chi_onehot_all.shape

(484, 105)

Get user ratings of a venue

Loop thru venue df

search users who liked a venue ??
use json to populate user df

In [25]:
# create a function to get users who liked each venue
def getVenueLikes(venueids):
    
    venues_list=[]
    for venue_id in venueids:
        #print(venue_id)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/{}/likes?client_id={}&client_secret={}&v={}'.format(
            venue_id, 
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
        # make the GET request
        results = requests.get(url).json()['response']['likes']
        
        # return price for each venue
        if "items" in results:
            for i in results['items']:
                venues_list.append([(venue_id, i['id'], 1) ])
        else:
            print("No likes for venue {}.".format(venue_id))

    venue_likes = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    venue_likes.columns = ['Venue ID', 'User ID', 'Rating']
    
    return(venue_likes)

In [82]:
chi_venue_likes = getVenueLikes(venueids=chi_venues['Venue ID'])
chi_venue_likes.head()

No likes for venue 51cf7f97498ee7d50a505393.
No likes for venue 501c2f2ee4b08947b4b93ad9.
No likes for venue 4f3235f519836c91c7c11167.
No likes for venue 55ad8b02498ee9a4d38f3437.
No likes for venue 4e16e1bdfa76a474496f5683.
No likes for venue 5765f851498ec7182331d0cc.
No likes for venue 53bb6e86498e01e11c501cb4.
No likes for venue 4f32480719836c91c7c83b66.
No likes for venue 5223916d11d27dd32e355ce5.
No likes for venue 50270532e4b0e6861f0acf73.
No likes for venue 56ae52ef498eed4822e4a4e4.
No likes for venue 4d8a63d04757721ee437b669.
No likes for venue 4f2741c3e4b067a32993f36f.
No likes for venue 55b220d4498ec1a2f280dc45.
No likes for venue 5b65327bcb3fd200391472e5.
No likes for venue 4b453428f964a520e10726e3.
No likes for venue 50f22f89e4b01e115acf4e98.
No likes for venue 4f44903019836ed00194e7fa.
No likes for venue 54a35873498e9be465ba3336.
No likes for venue 53d5b1d8498e5d7ed7628d9a.
No likes for venue 5554daea498e2644fc6f6f5c.
No likes for venue 4b8b1e8ff964a520c29332e3.
No likes for venue 4f3257b219836c91c7ce57d2.
No likes for venue 58908c35dc332914bc116ade.
No likes for venue 58b9b0010393cc59309b0fb8.
No likes for venue 58ab7a4f0a3d5449dc949d43.
No likes for venue 51cec2d9ccdaddcc550cb17b.
No likes for venue 5c468dcbd552c7002c3ff905.
No likes for venue 4d2ad64b915fa0937605120a.
No likes for venue 4f32973319836c91c7e6ab35.
No likes for venue 4c7c4d32a141b1f769e56a79.
No likes for venue 4f324f3219836c91c7cb07ed.
No likes for venue 51c63cbc498e8400012cdd88.
No likes for venue 4e0e117a8877936cb401c8d5.
No likes for venue 4f324ca319836c91c7ca0a9c.
No likes for venue 4f325a4c19836c91c7cf5e8c.
No likes for venue 4dfab2a61f6eeef806a8b6f2.
No likes for venue 5a58e667e1f228592884e3e7.
No likes for venue 5b01766a42d8c2002c8c275e.
No likes for venue 4fcaea40e4b07471e063b446.
No likes for venue 504bb530e4b03e711f554b01.
No likes for venue 4d87ce7c7139b1f7c95e95d4.
No likes for venue 4f32a05619836c91c7ea1691.
No likes for venue 4f326bda19836c91c7d62d91.
No likes for venue 4f321e0419836c91c7b7a6ab.
No likes for venue 570483f1498e0bf50c1a04de.
No likes for venue 4e4e237ebd4101d0d7a3217a.
No likes for venue 4f43ac6119834bc91f582bad.
No likes for venue 575213bb498e34c6a7021ec4.
No likes for venue 4e03fdb4a8090c09369fb5c7.
No likes for venue 4e4e19d3bd4101d0d7a2445e.
No likes for venue 4eac3a3b29c2152dec1531c6.
No likes for venue 4f3277dc19836c91c7dabdac.
No likes for venue 4e4e237fbd4101d0d7a32193.
No likes for venue 5a21f90ecad1b67b8f26cb89.
No likes for venue 4e1f824322717a5245b73ad9.
No likes for venue 5a410ba506fb603df129dcba.
No likes for venue 4e4c7ff6bd413c4cc669d78b.
No likes for venue 4f3289d619836c91c7e19acc.
No likes for venue 4f43fb9a19836ed001918f1c.
No likes for venue 4f32463b19836c91c7c781d2.
No likes for venue 5babd22bc36588002c8875fe.
No likes for venue 5c3130857c891c002da7fc25.
No likes for venue 5655158638faea42f10dd2d6.
No likes for venue 5c3ba86e535d6f002c36c021.
No likes for venue 5b0fa87951950e002cc1acf2.
No likes for venue 5caa2b55b25fee002c31f941.
No likes for venue 5b43ef85cad1b6002c06623d.
No likes for venue 4d4602f64e5d3704f282fd93.
No likes for venue 5cfd96e3d552c7002c40e870.
No likes for venue 5c7202e6c97f280039c22a12.
No likes for venue 51e1657a8bbd9beea4fe0123.
No likes for venue 4f32b59519836c91c7f2070a.
No likes for venue 4f3227a419836c91c7bb91e5.
No likes for venue 5907fcb86a5950378c1aced2.
No likes for venue 4c732ad89e706dcb01fb4c62.
No likes for venue 4f329f4519836c91c7e9b007.
No likes for venue 5a444a11a2c00b5c131097c7.
No likes for venue 52754a2711d2179816750de1.
No likes for venue 4bbfde2974a9a5932350cff6.
No likes for venue 51e1e439498eef8b3bbe33ba.
No likes for venue 4e1fa15245dd950bb0128dba.
No likes for venue 4e83e76b02d5a75503f44fa8.
No likes for venue 4fd39190e4b065401a9f0808.
No likes for venue 4f32ad3519836c91c7eeeb86.
No likes for venue 4c9e937154c8a1cd1b4e8f4b.
No likes for venue 4f44ea3619836ed001976f1f.
No likes for venue 574dcd8e498eeac0db3bd269.
No likes for venue 5a8dc64c5d891b280b22f689.
No likes for venue 4f322cc019836c91c7bd863e.
No likes for venue 4f44fa8519836ed00197e1df.
No likes for venue 4f32849d19836c91c7df997c.
No likes for venue 4f2a5e8ae4b00df25c994a61.
No likes for venue 4f32828719836c91c7decc39.
No likes for venue 4f4496ee19836ed001951a96.
No likes for venue 5086dc0ae4b0f0026eaa6fa2.
No likes for venue 5cd61e823092be002c034983.
No likes for venue 5c9e7614fb8e59002cd0399e.
No likes for venue 4f7f255be4b049fd33c94e57.
No likes for venue 4fce5caee4b0844bff8e9f01.
No likes for venue 4f9b29f7e4b01da4ff385b29.
No likes for venue 4f32844a19836c91c7df7aab.
No likes for venue 4c92b989418ea1cd0e9ba785.
No likes for venue 4c9a8e2eb8e9224b02ea4e3d.
No likes for venue 4f32935719836c91c7e535b6.
No likes for venue 5cf74387270ee7002c25e0f7.
No likes for venue 4f32941919836c91c7e5808e.
No likes for venue 4b5e41eaf964a520708629e3.
No likes for venue 4f449d4619836ed001954952.
No likes for venue 4f32253f19836c91c7ba9d9a.
No likes for venue 548cfd9d498ed1c2766cf177.
No likes for venue 50a909e5e4b041e7e1c78540.
No likes for venue 581e7e6dcb54576c36e8525b.
No likes for venue 4e07f2621f6e211033906bb6.
No likes for venue 5bbd2d451543c7002c5ccb9a.
No likes for venue 4e1361a6e4cdef074b849f0a.
No likes for venue 5ce2bfb25c6838002cf3e0bd.
No likes for venue 5ce032f59de23b002c8cf296.
No likes for venue 50689045e4b0f646461c5ae4.
No likes for venue 506c3ac4e4b037d925e134c7.
No likes for venue 5291291311d22ebd5ad88188.
No likes for venue 4f36bedae4b00d9f95a7646b.
No likes for venue 573760aa498ef5d24179d8de.
No likes for venue 594ea4b37918711301d0be1d.
No likes for venue 4f325b0d19836c91c7cfaa51.
No likes for venue 4fdcd95ce4b0f8bdf410c714.
No likes for venue 4ee0c6cc0aafbb3dbaf86612.
No likes for venue 500c780de4b052b69fcb263f.
No likes for venue 4c3c9cd4933b0f47fa4ce421.
No likes for venue 4d8b653e6ce6a35dd48d7442.
No likes for venue 4f329c3719836c91c7e88c2e.

                   Venue ID   User ID  Rating
0  5710dcf0498e87c71d20b69d    515900       1
1  5710dcf0498e87c71d20b69d    229698       1
2  5710dcf0498e87c71d20b69d  51646211       1
3  4b5dde6ef964a520fa7029e3  50475374       1
4  4b5dde6ef964a520fa7029e3   2967333       1

In [83]:
chi_venue_likes.shape

(901, 3)

In [29]:
chi_venue_likes.groupby('User ID').filter(lambda x: len(x) > 1)

                     Venue ID    User ID  Rating
2    5710dcf0498e87c71d20b69d   51646211       1
8    4c117c7e17002d7f4755e609   15833163       1
13   561155b9498ec959cc2c09f1   38216300       1
14   574d9666498ea9ee06354ffb    2118380       1
15   5150cea5e4b0b55ccb5056f8    2118380       1
28   4c43b571429a0f4769d6471e  439239999       1
33   4b08e160f964a520171323e3   26541006       1
34   4b08e160f964a520171323e3  158962747       1
36   4c3921280a71c9b62a0e42c9  407913448       1
40   4c584204d12a20a13a8a68bd  439239999       1
48   5a5eee98fc9e945bffc56504   11109483       1
50   4f5e3fbae4b026f4c7e564ca     339966       1
52   58d3f02f528930281480f5fe   15833163       1
53   4d3b42ecbeb7b1f72ae9f171    8933021       1
54   4d3b42ecbeb7b1f72ae9f171    8933021       1
55   4d28e38b8292236a88ca1dbb   38216300       1
56   4d28e38b8292236a88ca1dbb   24291426       1
64   4ede9e6ee5faee9991758cb2   18372438       1
68   4fdd0058e4b0ec5a8f166067   18372438       1
70   5a403e70da2e006276af5098   82997138       1
74   4b35afb9f964a5208a2e25e3   75339681       1
75   4b35afb9f964a5208a2e25e3  124547371       1
77   59d556c4f0b49010357e5b1d    4852821       1
79   4b4a7352f964a520038826e3   75339681       1
84   56258d3a498e647301effc48  153925822       1
85   548b7bb9498ec034bb1f5205  104360902       1
86   548b7bb9498ec034bb1f5205    1888253       1
95   57fedfe238fa3128368aab43  208175392       1
97   4ae23773f964a520ea8b21e3  124547371       1
101  4bafa1b9f964a520de113ce3     435846       1
..                        ...        ...     ...
830  5054c1dbe4b0de8bee2898bc    1489040       1
831  5054c1dbe4b0de8bee2898bc     435846       1
832  5054c1dbe4b0de8bee2898bc    3462946       1
833  5c73249c04d1ae0039e426bf   60261706       1
838  4a6e2474f964a52006d41fe3    1278645       1
839  4b522aabf964a520f26c27e3   72303068       1
840  4b522aabf964a520f26c27e3  403445265       1
842  5a887abaf8cbd46ab8e02b27  124547371       1
843  5a887abaf8cbd46ab8e02b27   15833163       1
848  4a54e2b2f964a52062b31fe3    1934690       1
851  4ac79839f964a5204fb820e3  124547371       1
852  4ac79839f964a5204fb820e3  129224890       1
854  56c4d7b0cd102e190a0c6951    3462946       1
858  4e92128102d5dcbe60036479    3462946       1
862  4c8cedadb118b7131c921d01   30596207       1
864  4a60365bf964a520bbc01fe3    1530156       1
869  5aebadb47e4b4e0031e37d81    2691346       1
870  5aebadb47e4b4e0031e37d81     589793       1
872  4b48c7bff964a520a95626e3  124547371       1
873  4b48c7bff964a520a95626e3   11109483       1
875  572a1225498e677fbd147e92    4852821       1
879  4b2d2950f964a520dfcf24e3    8913571       1
881  5aeb579c8ad62e002c8cd420    3462946       1
884  4b1dc037f964a520cf1424e3    3462946       1
887  4b46b299f964a520f32626e3    3462946       1
888  4c7ae51f20bb199c13d61829    1406382       1
890  4eac69f130f855f5b2e58043    4067651       1
894  56f1adc5498eeb31c9ecfdef   30596207       1
896  528d1f0d498e91354c21fdb5     568217       1
899  4b0c18f9f964a520cf3623e3   26541006       1

[313 rows x 3 columns]

Pick a test user.
Save test user ratings from user ratings to new df.

In [30]:
test_user_ratings = chi_venue_likes[chi_venue_likes['User ID'] == '30596207'].drop('User ID', 1)
test_user_ratings

                     Venue ID  Rating
173  5786fed8498e6ad5339dc258       1
339  4c6899d9428a0f47867e001b       1
862  4c8cedadb118b7131c921d01       1
894  56f1adc5498eeb31c9ecfdef       1

In [31]:
#Resetting the index to avoid future issues
test_user_ratings = test_user_ratings.reset_index(drop=True)

In [32]:
test_user_ratings

                   Venue ID  Rating
0  5786fed8498e6ad5339dc258       1
1  4c6899d9428a0f47867e001b       1
2  4c8cedadb118b7131c921d01       1
3  56f1adc5498eeb31c9ecfdef       1

Create new venue df of those the test user has rated (based on one-hot encoding df).

In [33]:
test_user_likes =  chi_onehot_all[chi_onehot_all['Venue ID'].isin(test_user_ratings['Venue ID'].tolist())]
test_user_likes

,Venue ID,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
132,5786fed8498e6ad5339dc258,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
191,4c6899d9428a0f47867e001b,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
428,4c8cedadb118b7131c921d01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,56f1adc5498eeb31c9ecfdef,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Drop unnecessary columns

In [34]:
#Resetting the index to avoid future issues
test_user_likes = test_user_likes.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
test_user_features = test_user_likes.drop('Venue ID', 1)
test_user_features

,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,Near West Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Create vector of test user’s ratings

In [35]:
test_user_ratings['Rating']

0    1
1    1
2    1
3    1
Name: Rating, dtype: int64

Use dot product of vector and test user’s ratings to build test user profile

In [36]:
#Dot produt to get weights
userProfile = test_user_features.transpose().dot(test_user_ratings['Rating'])
#The user profile
userProfile.shape

Edgewater                          2
Humboldt Park                      0
Lake View                          0
Lincoln Park                       1
Lincoln Square                     1
Logan Square                       0
Lower West Side                    0
Near North Side                    0
Near South Side                    0
Near West Side                     0
North Center                       0
Rogers Park                        0
The Loop                           0
Uptown                             0
West Ridge                         0
West Town                          0
Afghan Restaurant                  0
African Restaurant                 0
American Restaurant                0
Arcade                             0
Argentinian Restaurant             0
Asian Restaurant                   0
BBQ Joint                          0
Bagel Shop                         0
Bakery                             0
Bar                                0
Bookstore                          0
Breakfast Spot                     0
Bubble Tea Shop                    0
Burger Joint                       0
                                  ..
North Indian Restaurant            0
Pakistani Restaurant               0
Pastry Shop                        0
Pie Shop                           0
Pizza Place                        1
Poke Place                         0
Pop-Up Shop                        0
Portuguese Restaurant              0
Pub                                0
Ramen Restaurant                   0
Restaurant                         0
Salad Place                        0
Sandwich Place                     0
Seafood Restaurant                 0
Snack Place                        0
South American Restaurant          0
Southern / Soul Food Restaurant    0
Sports Bar                         0
Steakhouse                         0
Sushi Restaurant                   0
Taco Place                         0
Tapas Restaurant                   0
Tea Room                           0
Thai Restaurant                    1
Theme Restaurant                   0
Ukrainian Restaurant               0
Vegetarian / Vegan Restaurant      0
Vietnamese Restaurant              0
Whisky Bar                         0
Wings Joint                        0
Length: 104, dtype: int64

Let's start by extracting the category table from the original dataframe:

In [37]:
#Now let's get the features of every restaurant in our original dataframe
features_df = chi_onehot_all.set_index(chi_onehot_all['Venue ID'])
features_df.head()

,Venue ID,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Drop unnecessary columns from 1he df

In [38]:
#And drop the unnecessary information
features_df = features_df.drop('Venue ID', 1)
features_df.head()

,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,Near West Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

With the input's profile and the complete list of venues and their categories/neighborhoods in hand, we're going to take the weighted average of every venue based on the input profile and recommend the top ten restuarants that most satisfy it.

In [102]:
#Multiply the features by the weights and then take the weighted average
recommendationTable_df = ((features_df*userProfile).sum(axis=1))/(userProfile.sum())
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

Venue ID
4df7f3f118a801cd9f119204    0.25
56316c6a498ebdd0e0e529e4    0.25
5ba6563e33e118002c8eb30a    0.25
4176fc00f964a520b51d1fe3    0.25
4b59c45df964a520fa9628e3    0.25
dtype: float64

In [103]:
#The final recommendation table
recommended_venues = chi_venues.loc[chi_venues['Venue ID'].isin(recommendationTable_df.head(5).keys())]
recommended_venues

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
232,Near North Side,Happy Camper,56316c6a498ebdd0e0e529e4,41.904306,-87.634370,486,Pizza Place
239,Near North Side,Domino's Pizza,4b59c45df964a520fa9628e3,41.903763,-87.633175,419,Pizza Place
240,Near North Side,Tavern on Rush,4176fc00f964a520b51d1fe3,41.901684,-87.628000,480,American Restaurant
248,Near North Side,Walton Street Kitchen + Bar,5ba6563e33e118002c8eb30a,41.899826,-87.628329,415,American Restaurant
249,Near North Side,Farmhouse Chicago,4df7f3f118a801cd9f119204,41.896726,-87.635361,401,American Restaurant

Add suggested ratings

In [104]:
recommended_ratings = pd.merge(recommended_venues, recommendationTable_df.rename('Rating'), left_on='Venue ID', right_index=True)
recommended_ratings

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category,Rating
232,Near North Side,Happy Camper,56316c6a498ebdd0e0e529e4,41.904306,-87.634370,486,Pizza Place,0.25
239,Near North Side,Domino's Pizza,4b59c45df964a520fa9628e3,41.903763,-87.633175,419,Pizza Place,0.25
240,Near North Side,Tavern on Rush,4176fc00f964a520b51d1fe3,41.901684,-87.628000,480,American Restaurant,0.25
248,Near North Side,Walton Street Kitchen + Bar,5ba6563e33e118002c8eb30a,41.899826,-87.628329,415,American Restaurant,0.25
249,Near North Side,Farmhouse Chicago,4df7f3f118a801cd9f119204,41.896726,-87.635361,401,American Restaurant,0.25

Drop unnecessary columns

In [43]:
recommended_venues = recommended_ratings.drop('Venue ID', 1).drop('Distance', 1)
recommended_venues

,Neighborhood,Venue,Venue Latitude,Venue Longitude,Venue Category,Rating
129,Lincoln Square,The Book Cellar,41.967656,-87.687868,Bookstore,0.25
220,Lincoln Park,Nookies Too Restaurant,41.920442,-87.648653,Breakfast Spot,0.25
453,Edgewater,Replay Beer & Bourbon,41.979761,-87.668434,Whisky Bar,0.25
454,Edgewater,Colectivo Coffee Roasters,41.980619,-87.668247,Coffee Shop,0.25
456,Edgewater,Calo Ristorante,41.979427,-87.668237,Italian Restaurant,0.25

Plot the top 5

In [44]:
# get coordinates for Chicago
address = 'Chicago, IL'

geolocator = Nominatim(user_agent="chi_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Chicago are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Chicago are 41.8755616, -87.6244212.

In [45]:
# create map
recommendation_map = folium.Map(location=[latitude, longitude], zoom_start=11)

In [46]:
# add markers to the map
for lat, lon, name, cat, rat in zip(recommended_venues['Venue Latitude'], recommended_venues['Venue Longitude'], recommended_venues['Venue'], recommended_venues['Venue Category'], recommended_venues['Rating']):
    label = folium.Popup(str(name) + ' (' + str(cat) + ', ' + str(rat) + ')', parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        fill=True,
        fill_opacity=0.7).add_to(recommendation_map)
       
recommendation_map

Get recommendations for a different user

In [84]:
test_user_ratings = chi_venue_likes[chi_venue_likes['User ID'] == '26541006'].drop('User ID', 1)
test_user_ratings

                     Venue ID  Rating
33   4b08e160f964a520171323e3       1
461  4df7f3f118a801cd9f119204       1
522  4aef2171f964a520ded521e3       1
899  4b0c18f9f964a520cf3623e3       1

In [85]:
#Resetting the index to avoid future issues
test_user_ratings = test_user_ratings.reset_index(drop=True)
test_user_ratings

                   Venue ID  Rating
0  4b08e160f964a520171323e3       1
1  4df7f3f118a801cd9f119204       1
2  4aef2171f964a520ded521e3       1
3  4b0c18f9f964a520cf3623e3       1

In [86]:
test_user_likes =  chi_onehot_all[chi_onehot_all['Venue ID'].isin(test_user_ratings['Venue ID'].tolist())]
test_user_likes

,Venue ID,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,...,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint,Rating
0,4b08e160f964a520171323e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,4df7f3f118a801cd9f119204,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,4aef2171f964a520ded521e3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,4b0c18f9f964a520cf3623e3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [87]:
#Resetting the index to avoid future issues
test_user_likes = test_user_likes.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
test_user_features = test_user_likes.drop('Venue ID', 1)
test_user_features

,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,Near West Side,...,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint,Rating
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [88]:
test_user_ratings['Rating']

0    1
1    1
2    1
3    1
Name: Rating, dtype: int64

In [101]:
#Dot produt to get weights
userProfile = test_user_features.transpose().dot(test_user_ratings['Rating'])
#The user profile
userProfile.shape

(105,)

In [90]:
#Now let's get the features of every restaurant in our original dataframe
features_df = chi_onehot_all.set_index(chi_onehot_all['Venue ID'])
features_df.head()

,Venue ID,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
#And drop the unnecessary information
features_df = features_df.drop('Venue ID', 1)
features_df.head()

,Edgewater,Humboldt Park,Lake View,Lincoln Park,Lincoln Square,Logan Square,Lower West Side,Near North Side,Near South Side,Near West Side,...,Taco Place,Tapas Restaurant,Tea Room,Thai Restaurant,Theme Restaurant,Ukrainian Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wings Joint
Venue ID,,,,,,,,,,,,,,,,,,,,,
5710dcf0498e87c71d20b69d,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4b5dde6ef964a520fa7029e3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5a2071ca47f876422319a3b6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4c117c7e17002d7f4755e609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51cf7f97498ee7d50a505393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
#Multiply the features by the weights and then take the weighted average
recommendationTable_df = ((features_df*userProfile).sum(axis=1))/(userProfile.sum())
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

Venue ID
5710dcf0498e87c71d20b69d    0.000000
4b5dde6ef964a520fa7029e3    0.000000
5a2071ca47f876422319a3b6    0.000000
4c117c7e17002d7f4755e609    0.083333
51cf7f97498ee7d50a505393    0.000000
dtype: float64

In [94]:
#The final recommendation table
recommended_venues = chi_venues.loc[chi_venues['Venue ID'].isin(recommendationTable_df.head(5).keys())]
recommended_venues

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category
232,Near North Side,Happy Camper,56316c6a498ebdd0e0e529e4,41.904306,-87.634370,486,Pizza Place
233,Near North Side,Lou Malnati's Pizzeria,4e026a67e4cdbd9a51745782,41.902591,-87.628703,479,Pizza Place
237,Near North Side,LuxBar,4a176a52f964a52058791fe3,41.901566,-87.627786,491,American Restaurant
239,Near North Side,Domino's Pizza,4b59c45df964a520fa9628e3,41.903763,-87.633175,419,Pizza Place
240,Near North Side,Tavern on Rush,4176fc00f964a520b51d1fe3,41.901684,-87.628000,480,American Restaurant
248,Near North Side,Walton Street Kitchen + Bar,5ba6563e33e118002c8eb30a,41.899826,-87.628329,415,American Restaurant
249,Near North Side,Farmhouse Chicago,4df7f3f118a801cd9f119204,41.896726,-87.635361,401,American Restaurant
263,Near North Side,Pizano's Pizza & Pasta,4aff74bff964a520c43822e3,41.898733,-87.628264,443,Pizza Place
267,Near North Side,Local’84,5b43ef85cad1b6002c06623d,41.901709,-87.631601,238,Café
273,Near North Side,BIG & little's Restaurant,4aef2171f964a520ded521e3,41.898356,-87.637094,361,Fast Food Restaurant

In [95]:
recommended_ratings = pd.merge(recommended_venues, recommendationTable_df.rename('Rating'), left_on='Venue ID', right_index=True)
recommended_ratings

,Neighborhood,Venue,Venue ID,Venue Latitude,Venue Longitude,Distance,Venue Category,Rating
232,Near North Side,Happy Camper,56316c6a498ebdd0e0e529e4,41.904306,-87.634370,486,Pizza Place,0.250000
233,Near North Side,Lou Malnati's Pizzeria,4e026a67e4cdbd9a51745782,41.902591,-87.628703,479,Pizza Place,0.250000
237,Near North Side,LuxBar,4a176a52f964a52058791fe3,41.901566,-87.627786,491,American Restaurant,0.250000
239,Near North Side,Domino's Pizza,4b59c45df964a520fa9628e3,41.903763,-87.633175,419,Pizza Place,0.250000
240,Near North Side,Tavern on Rush,4176fc00f964a520b51d1fe3,41.901684,-87.628000,480,American Restaurant,0.250000
248,Near North Side,Walton Street Kitchen + Bar,5ba6563e33e118002c8eb30a,41.899826,-87.628329,415,American Restaurant,0.250000
249,Near North Side,Farmhouse Chicago,4df7f3f118a801cd9f119204,41.896726,-87.635361,401,American Restaurant,0.250000
263,Near North Side,Pizano's Pizza & Pasta,4aff74bff964a520c43822e3,41.898733,-87.628264,443,Pizza Place,0.250000
267,Near North Side,Local’84,5b43ef85cad1b6002c06623d,41.901709,-87.631601,238,Café,0.166667
273,Near North Side,BIG & little's Restaurant,4aef2171f964a520ded521e3,41.898356,-87.637094,361,Fast Food Restaurant,0.250000

In [96]:
recommended_venues = recommended_ratings.drop('Venue ID', 1).drop('Distance', 1)
recommended_venues

,Neighborhood,Venue,Venue Latitude,Venue Longitude,Venue Category,Rating
232,Near North Side,Happy Camper,41.904306,-87.634370,Pizza Place,0.25
233,Near North Side,Lou Malnati's Pizzeria,41.902591,-87.628703,Pizza Place,0.25
237,Near North Side,LuxBar,41.901566,-87.627786,American Restaurant,0.25
239,Near North Side,Domino's Pizza,41.903763,-87.633175,Pizza Place,0.25
240,Near North Side,Tavern on Rush,41.901684,-87.628000,American Restaurant,0.25

In [97]:
# create map
recommendation_map = folium.Map(location=[latitude, longitude], zoom_start=11)

In [100]:
# add markers to the map
for lat, lon, name, cat, rat in zip(recommended_venues['Venue Latitude'], recommended_venues['Venue Longitude'], recommended_venues['Venue'], recommended_venues['Venue Category'], recommended_venues['Rating']):
    label = folium.Popup(str(name) + ' (' + str(cat) + ', ' + str(rat) + ')', parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        fill=True,
        fill_opacity=0.7).add_to(recommendation_map)
       
recommendation_map